<div class="row">
  <div class="columns small-2 taxon-navigation">
    <div ng-repeat="taxon in taxons">
      <h5 class="root-taxon" ng-class="{current: taxon.id === currentTaxonId}" ng-if="taxon.subTaxons.length > 0">
        {{taxon.name}}
      </h5>

      <h5>
        <a ng-href="#/products/{{taxon.permalink}}" ng-class="{current: taxon.id === currentTaxonId}"
           ng-if="taxon.subTaxons.length === 0">
          {{taxon.name}}
        </a>
      </h5>

      <ul ng-repeat-end>
        <li ng-repeat="subTaxon in taxon.subTaxons | orderBy: 'position' ">
          <span class="current" ng-if="subTaxon.id === currentTaxonId">
            {{subTaxon.name}}
          </span>
          <a ng-if="subTaxon.id !== currentTaxonId" ng-href="#/products/{{taxon.permalink}}/{{subTaxon.permalink}}">{{subTaxon.name}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="columns small-10 products">
    <ul class="small-block-grid-4">
      <li ng-repeat="product in products | orderBy: 'position'">
        <div class="product-view">
          <img src="{{product.images[0] | imageSize:'list_thumb' }}" alt="{{product.name}}"/>
          <div class="view-detail">
            <a href="#/product/{{product.id}}">VIEW DETAIL</a>
          </div>
          <a class="add-to-cart" href="#">ADD TO CART</a>
        </div>
        <div class="product-name">
          {{product.name}}
        </div>
        <div class="product-price">
          {{product.price | price}}
        </div>
      </li>
    </ul>
  </div>
</div>