<div class="home-performance">
  <h2>MY BUSINESS PERFORMANCE</h2>
  <div class='row'>
    <div class='small-3 columns'>
      <div class='home-performance-item'>
        <div class='home-performance-itemInner icons-home-performance-personal'>
          {{summary.personalVolume}}
        </div>
        <h3>Personal Volume</h3>
      </div>
    </div>
    <div class='small-3 columns'>
      <div class='home-performance-item'>
        <div class='team-volume home-performance-itemInner small-font icons-home-performance-central'>
          LV1: {{summary.currentTeamVolumes['level-1']}}<br/>
          LV2: {{summary.currentTeamVolumes['level-2']}}<br/>
          LV3: {{summary.currentTeamVolumes['level-3']}}<br/>
          LV4: {{summary.currentTeamVolumes['level-4']}}
        </div>
        <h3>Current Team Volume</h3>
      </div>
    </div>
    <div class='small-3 columns'>
      <div class='home-performance-item'>
        <div class='home-performance-itemInner icons-home-performance-pv'>
          {{summary.3MonthPv}}
        </div>
        <h3>3 Month PV</h3>
      </div>
    </div>
    <div class='small-3 columns'>
      <div class='home-performance-item'>
        <div class='home-performance-itemInner icons-home-performance-date'>
          {{user.nextRenewalDate | date: 'yyyy-MM-dd'}}
        </div>
        <h3>Active-Until Date</h3>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <ul class='small-block-grid-3 home-handlers-data'>
      <li>
        <div class='home-handlers-data-y'>
          <small>Active Personally<br/>Sponsored Handlers</small>
          <strong>
            {{summary.activePersonallySponsoredHandlers}}
          </strong>
        </div>
      </li>
      <li>
        <div class='home-handlers-data-r'>
          <small>Active Team<br/>Handlers</small>
          <div>
            Level 1: {{summary.activeTeamHandlers['level-1']}};
            Level 2: {{summary.activeTeamHandlers['level-2']}};
            <br/>
            Level 3: {{summary.activeTeamHandlers['level-3']}};
            Level 4: {{summary.activeTeamHandlers['level-4']}}.
          </div>
        </div>
      </li>
      <li>
        <div class='home-handlers-data-g'>
          <small>New Personally<br/>Sponsored Handlers</small>
          <strong>
            {{summary.newPersonallySponsoredHandlers}}
          </strong>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class='home-summary row'>
  <div class='small-12 columns'>
    <h2>ORDER SUMMARY</h2>
    <table width='100%' cellpadding='0' cellspacing='0' border='0'>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Order Date</th>
          <th>Total</th>
          <th>Status</th>
          <th>Payment Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="order in orders | limitTo: 3">
          <td>{{ order.number }}</td>
          <td>{{ order.orderDate | date:'medium' }}</td>
          <td class="text-right">{{ order.total | price }}</td>
          <td>{{ order.state }}</td>
          <td>{{ order.paymentState }}</td>
        </tr>
      </tbody>
    </table>
    <div>
      <!--<a href='#' class='button small left'>Place A New Order</a>-->
      <a href='#/report/order' class='button small right'>View My Orders</a>
    </div>
  </div>
  <!--<div class='small-6 columns'>-->
    <!--<h2>ORDER SUMMARY</h2>-->
    <!--<table width='100%' cellpadding='0' cellspacing='0' border='0'>-->
      <!--<thead>-->
        <!--<tr>-->
          <!--<th>Order Date</th>-->
          <!--<th>Quantity</th>-->
          <!--<th>PV</th>-->
          <!--<th>Price</th>-->
        <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
        <!--<tr>-->
          <!--<td>12/27/13</td>-->
          <!--<td>2 Orders</td>-->
          <!--<td>64.40</td>-->
          <!--<td>$76.22</td>-->
        <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->
    <!--<div>-->
      <!--<a href='#' class='button small left'>Set up New Pawty</a>-->
      <!--<a href='#' class='button small right'>View My Orders</a>-->
    <!--</div>-->
  <!--</div>-->
</div>

<div class="row home-topics">
    <div class="medium-6 columns">
      <h3>
        HOT TOPICS
      </h3>
      <ul>
        <li>
          <a href="#"><i class="fa fa-angle-double-right"></i> How to Place A pawty Order</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-angle-double-right"></i> Enrolling New Handlers</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-angle-double-right"></i> Creating a New Pawty</a>
        </li>
      </ul>
    </div>
    <div class="medium-6 columns">
      <h3>
        TRAINING
      </h3>
      <ul>
        <li>
          <a href="#"><i class="fa fa-angle-double-right"></i> How to Place A pawty Order</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-angle-double-right"></i> Enrolling New Handlers</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-angle-double-right"></i> Creating a New Pawty</a>
        </li>
      </ul>
    </div>
</div>
























