<div class="row">
  <ul class="small-12 columns root-taxons">
    <li>
      <a href="#/shopping-options">SHOP</a>

      <!--<div class="sub-taxons-container">-->
        <!--<ul class="sub-taxons">-->
          <!--<li>-->
            <!--<a href="#">Handler Order</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#">Customer</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    </li>
    <li>
      <a href="#/party/overview/upcoming">PAW-TY</a>
    </li>
    <li>
      <a href="#/gift">GIFT CERTIFICATE</a>
    </li>
    <li>
      <a href="#">ENROLL RECRUITS</a>
    </li>
    <li>
      <a>REPORTS</a>
      <div class="sub-taxons-container">
        <ul class="sub-taxons">
          <li>
            <a href="#/report/order">ORDERS</a>
          </li>
          <li>
            <a href="#/tools">TOOLS</a>
          </li>
          <li>
            <a href="#/organization">ORGANIZATION</a>
          </li>
          <li>
            <a href="#/gift-codes">GIFT CODES</a>
          </li>
          <!--<li>-->
            <!--<a href="#/genealogy">GENEALOGY</a>-->
          <!--</li>-->
        </ul>
      </div>
    </li>
    <li>
      <a href="http://kennelsupplies.fortailsonly.net/" target="_blank">POUND CENTRAL</a>
    </li>
  </ul>
</div>