<div class="row">
  <div class="columns medium-12">
    <h2>
      Organization
    </h2>
  </div>
</div>
<div class="row">
  <div class="columns small-12">
    <table width="100%">
      <thead>
      <tr>
        <th>Distributor ID</th>
        <th>Name</th>
        <th>Level</th>
        <th>Orders</th>
        <th>Qualification Volume</th>
        <th>Commission Volume</th>
        <th>Rank</th>
        <th>Country</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="order in orders">
        <td><a href>62628284</a></td>
        <td>AAAAA</td>
        <td>II</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>US</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

