<div class="row">
  <div class="columns medium-12">
    <h2>
      Organization
    </h2>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="row collapse">
      <div class="small-3 columns">
        <input type="text" class="secondary-item no-margin-bottom" placeholder="Search by Distributor ID...">
      </div>
      <div class="small-1 columns">
        <a href='#' class='postfix button'><i class="fa fa-search"></i></a>
      </div>
      <div class="small-2 columns">
        <label>&nbsp;&nbsp;<input type="checkbox" />&nbsp;Show order list</label>
      </div>
      <div class="small-2 small-offset-2 columns">
        <select class="secondary-item no-margin-bottom">
          <option>Select Year</option>
          <option>2014</option>
        </select>
      </div>
      <div class="small-2 columns">
        <select class="secondary-item no-margin-bottom">
          <option>Select Month</option>
          <option>12</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="row"><div class='small-12 columns'><hr/></div></div>
<div class="row">
  <div class="columns small-12">
    <table width="100%">
      <thead>
      <tr>
        <th>Distributor ID</th>
        <th>Name</th>
        <th>Level</th>
        <th>Orders</th>
        <th>Qualification Volume</th>
        <th>Commission Volume</th>
        <th>Rank</th>
        <th>Country</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="order in orders">
        <td><a href>62628284</a></td>
        <td>AAAAA</td>
        <td>II</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>US</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class='small-12 columns'>
    <ul class="pagination right"> <li class="arrow unavailable"><a href="">&laquo;</a></li> <li class="current"><a href="">1</a></li> <li><a href="">2</a></li> <li><a href="">3</a></li> <li><a href="">4</a></li> <li class="unavailable"><a href="">&hellip;</a></li> <li><a href="">12</a></li> <li><a href="">13</a></li> <li class="arrow"><a href="">&raquo;</a></li> </ul>
  </div>
</div>

