<div class="sign-in">
  <div class='row'>
    <div class='small-12 columns'>
      <ul class="breadcrumbs"> <li><a href="#">Home</a></li> <li class="current"><a href>Sign in</a></li> </ul>
    </div>
  </div>
  <div class="sign-in-inner">
    <div class="row">
      <div class="columns small-5">
        <h3>
          Create a New Account<br/><small>Register with miioon.com and you'll enjoy all kinds of great benefits.</small>
        </h3>
        <ul class="benefits">
          <li>
            Special offers and promotions
          </li>
          <li>
            Optional miioon Angel birthday service
          </li>
          <li>
            Track the status of your orders and many more…
          </li>
        </ul>
        <button class="button secondary small">REGISTER</button>
      </div>
      <div class="columns small-1 separator"></div>
      <div class="columns small-5">
        <h3>
          Sign in to Your Account
        </h3>
        <input type="text" placeholder="Login Name or miioon Angel ID" ng-model="username"/>
        <input type="password" placeholder="Password" ng-model="password"/>
        <a class="forgot-password" href="#">Forgot Password?</a>
        <input id="is-remember" type="checkbox" ng-model="isRemember"/>
        <label for="is-remember">remember me</label>
        <button class="button sign-in-button secondary small" ng-click="signIn()">SIGN IN</button>
      </div>
    </div>
  </div>

</div>


