<div class="sign-in">
  <div class='row'>
    <div class='small-12 columns'>
      <ul class="breadcrumbs"> <li><a href="#">Home</a></li> <li class="current"><a href>Sign in</a></li> </ul>
    </div>
  </div>
  <div class="sign-in-inner">
    <div class="row">
      <div class="columns small-5">
        <h3>
          Create a New Account<br/><small>Create an account with us and you'll be able to:</small>
        </h3>
        <ul class="benefits">
          <li>
            Check out faster
          </li>
          <li>
            Save multiple shipping addresses
          </li>
          <li>
            Access your order history
          </li>
          <li>
            Track new orders
          </li>
          <li>
            Save items to your wish list
          </li>
        </ul>
        <button class="button secondary small">REGISTER</button>
      </div>
      <div class="columns small-1 separator"></div>
      <div class="columns small-5">
        <h3>
          Sign in to Your Account
        </h3>
        <input type="text" placeholder="Email Address" ng-model="username"/>
        <input type="password" placeholder="Password" ng-model="password"/>
        <a class="forgot-password" href="#">Forgot Password?</a>
        <input id="is-remember" type="checkbox" ng-model="isRemember"/>
        <label for="is-remember">remember me</label>
        <button class="button sign-in-button secondary small" ng-click="signIn()">SIGN IN</button>
      </div>
    </div>
  </div>
</div>


