/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
html, body { height: 100%; overflow: hidden; background: #eee; }
#page-wrap { width: 100%; overflow: hidden; height: 100%; }

.info-col { float: left; width: 15%; height: 100%; padding  50px 0 0 0;
;-webkit-transition:all 200ms ease;-moz-transition:all 200ms ease;-o-transition:all 200ms ease;-ms-transition:all 200ms ease;transition:all 200ms ease }
.info-col h2 { text-align: center; font-weight: normal; padding: 25px 0; }

.image { height: 100px; display: block; overflow: hidden; text-align:center }

dt { padding: 5px; background: #900; color:  white; border-bottom: 1px solid white; border-right: 1px solid white; }
dd { position: absolute; left: -9999px; top: -9999px; width: 96%; background: #900; padding: 2%; color  white; border-right: 1px solid white; }

dt:nth-of-type(1) { background: #38302F; }
dd:nth-of-type(1) { background: #DDD; }

dt:nth-of-type(2) { background: #38302F; }
dd:nth-of-type(2) { background: #DDD; }

dt:nth-of-type(3) { background: #38302F; }
dd:nth-of-type(3) { background: #DDD; }

dt:nth-of-type(4) { background: #38302F; }
dd:nth-of-type(4) { background: #DDD; }

dt:nth-of-type(5) { background: #38302F; }
dd:nth-of-type(5) { background: #DDD; }

dt:nth-of-type(6) { background: #38302F; }
dd:nth-of-type(6) { background: #DDD; }

.curCol { z-index: 1; position: relative; width:40%!important
;-webkit-transition:all 500ms ease;-moz-transition:all 500ms ease;-o-transition:all 500ms ease;-ms-transition:all 500ms ease;transition:all 500ms ease }

dd img{width:100%}