<div class="row">
  <div class="columns small-12">
    <div class="slider block-margin-bottom">
      <ul>
        <li>
          <a href="#/signup">
            <img src="images/home/banner3.png"/>
          </a>
        </li>
        <li>
          <a href="#/products/dogs/dog-training-behavior">
            <img src="images/home/banner4.png"/>
          </a>
        </li>
        <li>
          <a href="">
            <img src="images/home/banner5.png"/>
          </a>
        </li>
        <li>
          <a href="#/signup">
            <img src="images/home/banner7.png"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row topbar products" ng-show="featureProductsLimit.length > 0">
  <div class="small-12 medium-8 columns">
    <h4 class="primary-color">Featured Products</h4>
  </div>
  <div class="small-12 medium-4 columns text-right page" ng-show="featureProducts.length >= 5">
    <span>{{FPPage}}/{{FPPageNum}}</span>
    <a ng-click="FPPrev(FPPage, FPPageNum)"><i class="fa fa-chevron-circle-left "></i></a>
    <a ng-click="FPNext(FPPage, FPPageNum)"><i class="fa fa-chevron-circle-right "></i></a>
  </div>
</div>

<div class="row" ng-show="featureProductsLimit.length > 0">
  <div class="columns small-12 products">
    <ul class='products-list medium-block-grid-5'>
      <li ng-repeat="fp in featureProductsLimit">
        <div class="product-img">
          <span></span>
          <img alt="{{fp.name}}" ng-src="{{fp.images[0]}}" />
          <a class="button small" ng-href="#/product/{{fp.id}}/FP">VIEW DETAIL</a>
        </div>
        <p class='product-name'><a ng-href="#/product/{{fp.id}}/FP">{{fp.name}}</a></p>
        <p class='product-price'>{{fp.price | price}}</p>
      </li>
    </ul>
  </div>
</div>

<div class="row" ng-show="newProductsLimit.length > 0">
  <div class="columns small-12"><hr/></div>
</div>

<div class="row topbar" ng-show="newProductsLimit.length > 0">
  <div class="small-12 medium-8 columns">
    <h4 class="primary-color">New Products</h4>
  </div>
  <div class="small-12 medium-4 columns text-right page" ng-show="newProducts >= 5">
    <span>{{NPPage}}/{{NPPageNum}}</span>
    <a ng-click="NPPrev(NPPage, NPPageNum)"><i class="fa fa-chevron-circle-left "></i></a>
    <a ng-click="NPNext(NPPage, NPPageNum)"><i class="fa fa-chevron-circle-right "></i></a>
  </div>
</div>

<div class="row" ng-show="newProductsLimit.length > 0">
  <div class="columns small-12 products">
    <ul class='products-list medium-block-grid-5'>
      <li ng-repeat="np in newProductsLimit">
        <div class="product-img">
          <span></span>
          <img alt="{{np.name}}" ng-src="{{np.images[0]}}" />
          <a class="button small" ng-href="#/product/{{np.id}}/NP">VIEW DETAIL</a>
        </div>
        <p class='product-name'><a ng-href="#/product/{{np.id}}/NP">{{np.name}}</a></p>
        <p class='product-price'>{{np.price | price}}</p>
      </li>
    </ul>
  </div>
</div>
