<div class="row">
  <div class="columns small-12">
    <div class="slider block-margin-bottom">
      <ul>
        <li>
          <a href="">
            <img src="images/home/banner1.png"/>
          </a>
        </li>
        <li>
          <a href="">
            <img src="images/home/banner2.png"/>
          </a>
        </li>
        <li>
          <a href="">
            <img src="images/home/banner3.png"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row topbar">
  <div class="small-12 medium-8 columns">
    <h4 class="primary-color">Featured Products</h4>
  </div>
  <div class="small-12 medium-4 columns text-right page">
    <span>1/2</span>
    <a href><i class="fa fa-chevron-circle-left "></i></a>
    <a href><i class="fa fa-chevron-circle-right "></i></a>
  </div>
</div>

<div class="row">
  <div class="columns small-12">
    <ul class='products-list medium-block-grid-5'>
      <li>
        <div class="product-img">
          <img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" />
          <a class="button small" style="">Quick View</a>
        </div>
        <p class='product-name'><a href="">Spring Donuts</a></p>
        <p class='product-price'>$23.50</p>
        <button class='button tiny'>ADD TO CART</button>
      </li>
      <li>
        <div class="product-img">
          <img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" />
          <a class="button small" style="">Quick View</a>
        </div>
        <p class='product-name'><a href="">Spring Donuts</a></p>
        <p class='product-price'>$23.50</p>
        <button class='button tiny'>ADD TO CART</button>
      </li>
      <li>
        <div class="product-img">
          <img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" />
          <a class="button small" style="">Quick View</a>
        </div>
        <p class='product-name'><a href="">Spring Donuts Spring Donutslll Spring Donuts Spring Donuts</a></p>
        <p class='product-price'>$23.50</p>
        <button class='button tiny'>ADD TO CART</button>
      </li>
      <li>
        <div class="product-img">
          <img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" />
          <a class="button small" style="">Quick View</a>
        </div>
        <p class='product-name'><a href="">Spring Donuts</a></p>
        <p class='product-price'>$23.50</p>
        <button class='button tiny'>ADD TO CART</button>
      </li>
      <li>
        <div class="product-img">
          <img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" />
          <a class="button small" style="">Quick View</a>
        </div>
        <p class='product-name'><a href="">Spring Donuts</a></p>
        <p class='product-price'>$23.50</p>
        <button class='button tiny'>ADD TO CART</button>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="columns small-12"><hr/></div>
</div>

<div class="row topbar">
  <div class="small-12 medium-8 columns">
    <h4 class="primary-color">New Products</h4>
  </div>
  <div class="small-12 medium-4 columns text-right page">
    <span>1/2</span>
    <a href><i class="fa fa-chevron-circle-left "></i></a>
    <a href><i class="fa fa-chevron-circle-right "></i></a>
  </div>
</div>

<div class="row">
  <div class="columns small-12">
    <ul class='products-list medium-block-grid-5 page'>
      <li>
        <div class="product-img">
          <img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" />
          <a class="button small" style="">Quick View</a>
        </div>
        <p class='product-name'><a href="">Spring Donuts</a></p>
        <p class='product-price'>$23.50</p>
        <button class='button tiny'>ADD TO CART</button>
      </li>
      <li>
        <div class="product-img">
          <img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" />
          <a class="button small" style="">Quick View</a>
        </div>
        <p class='product-name'><a href="">Spring Donuts</a></p>
        <p class='product-price'>$23.50</p>
        <button class='button tiny'>ADD TO CART</button>
      </li>
      <li>
        <div class="product-img">
          <img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" />
          <a class="button small" style="">Quick View</a>
        </div>
        <p class='product-name'><a href="">Spring Donuts Spring Donutslll Spring Donuts Spring Donuts</a></p>
        <p class='product-price'>$23.50</p>
        <button class='button tiny'>ADD TO CART</button>
      </li>
      <li>
        <div class="product-img">
          <img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" />
          <a class="button small" style="">Quick View</a>
        </div>
        <p class='product-name'><a href="">Spring Donuts</a></p>
        <p class='product-price'>$23.50</p>
        <button class='button tiny'>ADD TO CART</button>
      </li>
      <li>
        <div class="product-img">
          <img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" />
          <a class="button small" style="">Quick View</a>
        </div>
        <p class='product-name'><a href="">Spring Donuts</a></p>
        <p class='product-price'>$23.50</p>
        <button class='button tiny'>ADD TO CART</button>
      </li>
    </ul>
  </div>
</div>
