<div class="row" ng-controller="NavigationController">
  <ul class="small-12 columns root-taxons">
    <!--<li>-->
      <!--<a href="#/products/cats/cat-treats">SHOP</a>-->

      <!--<div class="sub-taxons-container">-->
        <!--<ul class="sub-taxons">-->
          <!--<li>-->
            <!--<a href="#">Handler Order</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#">Customer</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</li>-->
    <li>
      <a href="#/">
        Home
      </a>
    </li>
    <li>
      <a href="#/gift">
        Gift Certification
      </a>
    </li>
    <li ng-repeat="taxon in taxons">
      <a ng-href="#/products/{{taxon.permalink}}">
        {{taxon.name}}
      </a>
    </li>
  </ul>
</div>