
<div class="sign-up">
  <form ng-submit="create()" novalidate>

    <div class="row">
      <h2 class="small-12 columns">Sign up as a Customer</h2>
    </div>

    <div class="row">
      <p class="register-customer small-12 columns medium-font">
        Want to be a distributor? <a class="primary-link" href="#/signup">Sign up as a distributor</a>
      </p>
    </div>

    <div data-sponsor-panel
         data-account="account"
         data-submitted="submitted">
    </div>

    <div data-account-panel
         data-account="account"
         data-submitted="submitted">
    </div>

    <div ng-if="$scope.errors.InvalidAddress">
      <span class="error">{{ $scope.errors.InvalidAddress }}</span>
    </div>

    <div data-address-panel
         data-address-type="shipping"
         data-title="Shipping"
         data-address="address.shipping"
         data-home-address="address.home"
         data-submitted="submitted">
    </div>

    <button type="submit">Create</button>
  </form>
</div>
