<form class="sign-up-step-3 sign-up-step" name="step3" ng-submit="nextStep()" novalidate>

  <div data-personal-panel
       data-account="account"
       data-submitted="submitted"></div>

  <div data-address-panel
       data-address-type="home"
       data-title="Home"
       data-address="address.home"
       data-submitted="submitted">
  </div>

  <div data-address-panel
       data-address-type="shipping"
       data-title="Shipping"
       data-address="address.shipping"
       data-home-address="address.home"
       data-submitted="submitted">
  </div>

  <div data-address-panel
       data-address-type="website"
       data-title="Web"
       data-address="address.website"
       data-home-address="address.home"
       data-submitted="submitted">
  </div>

  <div class="row">
    <div class='medium-12 columns'>
      <button type="submit">Continue</button>
    </div>
  </div>

</form>
