<form class="sign-up-step-3 sign-up-step" name="step3" ng-submit="nextStep()" novalidate>

  <div data-personal-panel
       data-account="account"
       data-submitted="submitted"></div>

  <div data-address-panel
       data-address-type="home"
       data-title="Home"
       data-address="address.home"
       data-submitted="submitted">
  </div>

  <div data-address-panel
       data-address-type="shipping"
       data-title="Shipping"
       data-address="address.shipping"
       data-home-address="address.home"
       data-submitted="submitted">
  </div>

  <div class='row' ng-if="shippingMethods.length > 0">
    <div class='medium-12 columns'>

      <h3>
        Shipping Options
      </h3>

    </div>
  </div>

  <div class="row">
    <div class="columns medium-4">&nbsp;</div>
    <div class="columns medium-4" ng-repeat="shippingMethod in shippingMethods" class="shipping-options">
      <label class="inline">
        <input required ng-model="method.shipping" type="radio" name="shippingMethod"
               ng-value="shippingMethod"/>
        {{shippingMethod.name}}
      </label>
    </div>
  </div>

  <div class="row">
    <div class="columns medium-8 medium-offset-4 end">
      <small ng-show="submitted && step3.shippingMethod.$error.required" class="error">
        This field is required.
      </small>
    </div>
  </div>

  <div data-address-panel
       data-address-type="website"
       data-title="Web"
       data-address="address.website"
       data-home-address="address.home"
       data-submitted="submitted">
  </div>

  <div class="row">
    <div class='medium-8 medium-offset-4 columns'>
      <button type="submit">Continue</button>
    </div>
  </div>

</form>
