<form class="sign-up-step-4 sign-up-step" name="step4" novalidate ng-submit="create()">
  <div class='row'>
    <div class='medium-12 columns'>
      <h2>Check out</h2>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <table width='100%'>
        <thead>
          <tr>
            <th>Item</th>
            <th width='60'>PV</th>
            <th width="80">Price</th>
            <th width="80">Quantity</th>
            <th width="100">Total Price</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="lineItem in order.lineItems">
            <td>
              <div class="sign-up-pack-item">
                <img src="{{lineItem.imageUrl | imageSize:'small'}}" alt="{{lineItem.productName}}" class='pack-img' />
                <div class='pack-info'>
                  <h6>{{lineItem.productName}}</h6>
                </div>
              </div>
            </td>
            <td>{{lineItem.qualifictionVolume | price}}</td>
            <td>{{lineItem.price | price}}</td>
            <td>{{lineItem.quantity}}</td>
            <td>{{lineItem.price * lineItem.quantity | price}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="5">
              <div class='small-12 columns text-right check-out-foot'>
                <p ng-repeat="adjustment in order.adjustments">
                  {{adjustment.label}}: {{adjustment.amount | price}}
                </p>
                <strong class='price-total'>
                  Total Price: {{order.total | price}}
                </strong>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <!--<div class='row'>-->
    <!--<div class='medium-12 columns'>-->
      <!--<h3>Notes</h3>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class='medium-12 columns'>-->
      <!--<textarea placeholder="Notes (500 words or less)" class="sign-up-note"></textarea>-->
    <!--</div>-->
  <!--</div>-->
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Shipping Address</h3>
    </div>
  </div>
  <div class="row">
    <div class='medium-12 columns'>
      <ul class="vcard">
        <li class="locality">{{order.shippingAddress.firstName}} {{order.shippingAddress.lastName}}</li>
        <li class="locality">
          {{order.shippingAddress.street}},
          {{order.shippingAddress.city}},
          {{order.shippingAddress.state}},
          {{order.shippingAddress.country}},
          {{order.shippingAddress.zip}}
        </li>
        <li class="locality">
          Phone: {{order.shippingAddress.phone}}
        </li>
        <!--<li class="locality"><a data-reveal="" data-reveal-id="popUpEditShip" class="button tiny" href="#" edit-ship><i class="fa fa-pencil-square-o"></i> Edit</a></li> -->
      </ul>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Payment Information</h3>
    </div>
  </div>

  <div class='row'>
    <div class='medium-4 columns'>
      <label class="required">Payment Option</label>
    </div>
    <div class='medium-8 columns'>
      <label class='formRadioLabel' ng-repeat="paymentMethod in order.availablePaymentMethods">
        <input type='radio' ng-model="$parent.method.payment" ng-value="paymentMethod" />
        {{paymentMethod.name}}
      </label>
    </div>
  </div>

  <div class='row' ng-show="method.payment.isCreditcard">
    <div class='medium-4 columns'>
      <label class="required" for="card-number">Credit Card Number</label>
    </div>
    <div class='medium-4 columns'>
      <input type='text'
             ng-required="method.payment.isCreditcard"
             id="card-number"
             name="cardNumber"
             ng-model="creditcard.number" />
      <small class="error" ng-show="submitted && step4.cardNumber.$error.required">
        This information is required.
      </small>
      <small class="error" ng-show="paymentFailed">
        The payment information is invalid.
      </small>
    </div>
    <div class='medium-4 columns'><img src="images/creditCard.jpg" alt='' /></div>
  </div>

  <div class='row' data-credit-card-expiration ng-show="method.payment.isCreditcard">
    <div class='medium-4 columns'>
      <label class="required" for="expiration-month">Expiration Date</label>
    </div>
    <div class='small-4 columns text-left'>
      <select id="expiration-month"
              name="expirationMonth"
              class="medium"
              ng-required="method.payment.isCreditcard"
              ng-model="creditcard.expirationMonth"
              ng-options="month for month in expirationMonths">
        <option value="">Month</option>
      </select>
      <small class="error" ng-show="submitted && step4.expirationMonth.$error.required">
        This information is required.
      </small>
    </div>
    <div class='small-4 columns text-left'>
      <label class='hide'></label>
      <select id="expiration-year"
              name="expirationYear"
              class="medium"
              ng-required="method.payment.isCreditcard"
              ng-model="creditcard.expirationYear"
              ng-options="year for year in expirationYears">
        <option value="">Year</option>
      </select>
      <small class="error" ng-show="submitted && step4.expirationYear.$error.required">
        This information is required.
      </small>
    </div>
  </div>

  <div class='row' ng-show="method.payment.isCreditcard">
    <div class='medium-4 columns'>
      <label class="required" for="cvv">Card Code</label>
    </div>
    <div class='medium-4 end columns'>
      <input type='text'
             id="cvv"
             name="cvv"
             required
             ng-model="creditcard.cvv"/>
      <small class="error signUpInputW" ng-show="submitted && step4.cvv.$error.required">
        This information is required.
      </small>
    </div>
  </div>

  <div data-address-panel
       data-address-type="billing"
       data-title="Billing"
       data-address="address.billing"
       data-home-address="address.home"
       data-default-use-home-address="true"
       data-submitted="submitted">
  </div>

  <div class="row">
    <div class='medium-8 medium-offset-4 columns'>
      <button ng-disabled="isProcessing" type="submit">Create</button>
    </div>
  </div>

</form>