<form class="sign-up-step-1 sign-up-step" name="step1" novalidate ng-submit="nextStep()">
  <div class="row">
    <h2 class="small-12 columns">Sign up as a Distributor</h2>
  </div>
  <div class="row">
    <p class="register-customer small-12 columns medium-font">
      Do you just want to shop? <a class="primary-link" href="/#/retail-signup">Sign up as a customer</a>
    </p>
  </div>

  <div data-sponsor-panel
       data-account="account"
       data-required="true"
       data-submitted="submitted"></div>

  <div data-account-panel
       data-account="account"
       data-submitted="submitted"></div>

  <div class="row">
    <div class='medium-4 columns'>
      <label class="required" for="account-country">Country</label>
    </div>

    <div class='medium-8 columns'>
      <select
        required
        id="account-country"
        name="account-country"
        ng-model="account.country"
        ng-options="country.name for country in countries"
        ng-change="registrationCountryChange(account.country)">>
      </select>

      <small ng-show="submitted && step['account-country'].$error.required" class="error">
        This field is required.
      </small>
    </div>
  </div>
  <div class="row">
    <div class='columns small-12'>
      <textarea class="small-font" id="term-condition" readonly cols="30" rows="20">
      Qualifications for New Independent Handler:

      1.	Submit a signed, completed Independent Handler Agreement to FOR TAILS ONLYTM.
      2.	Must be at least 18 years of age.
      3.	Be a US Citizen with a valid Social Security Number.

      * Commissions are paid on the commissionable amount of retail sales.
      * Commission reports and commission checks are distributed the 10th of each month for the previous month's activity.
      * Rebates and bonuses are included in the monthly commission checks in the month following the period in which the activity occurred.
      * Commission checks are issued to Independent Handlers in their name only and cannot be paid to trust funds, etc.
      * Commission checks are issued only if they are $10 or more. Commissions less than $10 will be added to the next month's commissions and issued when they total more than $10.
      * The first month of each calendar year, FOR TAI LS ONLYTM issues tax form 1099-MISC for the previous year. A 1099-MISC will be issued for each Handler who has earned commission checks, redeemed product certificates, incentives and prizes of $600 or more, or has purchased more than $5,000 (Consultant cost) worth of products intended for resale.
      * Commission and other earnings must be claimed as income with your tax filings each year. A 1099- MISC Detail Report will be available for Handlers who earned $600 or more in commission checks, redeemed product certificates, incentives, prizes, etc.

      If a Handler does not receive a commission check after it has been mailed, another may be reissued upon Handler request after 10 business days beginning with the day the check was mailed. If a Handler requests a check be reissued there will be a stop-payment charge (at the Handler's expense).

      As an Independent Contractor, each Handler is responsible for his or her own business activity. A Handler is considered neither an employee of FOR TAILS ONLYTM nor of his or her sponsor. Independent Handlers are required to follow the tax codes and business reporting requirements in the respective jurisdiction where their business activities take place, and it is recommended that they consult with a local professional advisor for more information related to their business. FOR TAILS ONLYTM Independent Handlers are responsible for the following:
      * Complying with all federal, state, county and local laws and regulations as they relate to the possession, distribution, sale, stocking, receipt and advertising of products or the operation of a business;
      * Acquiring any applicable licenses or business registration, filing all necessary reports and paying all appropriate taxes and/or fees legally required in order to operate a FOR TAILS ONLYTM business;
      * Collecting all sales tax, whether assessed at the local, state, territorial, county or city levels.  These taxes must be remitted to FOR TAILS ONLYTM.  FOR TAILS ONLYTM, in turn, remits these taxes to the government tax authorities on behalf of Handlers. Any taxes that FOR TAILS ONLYTM does not process must be sent directly to the appropriate tax authorities;
      * ReportingallearningstotheInternalRevenueServiceandStaterevenuedepartments when applicable and being responsible for maintaining records and receipts of all business activities;
      * Paying any required Social Security tax for the self-employed.

      Handlers are required to do the following:
      * Familiarize themselves with the FOR TAILS ONLYTM Policies as well as all guidance provided through Home Office newsletters and other official publications;
      * Manage their FOR TAILS ONLYTM business in a way that is consistent with the FOR TAILS ONLYTM Statement of Policies, Terms and Conditions and any other amendments or publications made available by FOR TAILS ONLYTM;
      * Avoid making any claims or representations regarding the FOR TAILS ONLYTM product line that are inconsistent with the current product listings, website, or publications made available by the Company;
      * Avoid making any claims or representations relating to potential compensation, except for those representations made by FOR TAILS ONLYTM;
      * Understand and adhere to the exchange and guaranty provisions of product sales; * Protect each customer's or Handler's payment and payment information, and submit and deliver each order in a timely manner;
      * Coordinate and carry out parties and other sales avenues according to Policies and Procedures.

      Upon signing the Handler Agreement with FOR TAILS ONLYTM, Handlers enter into a binding agreement not to sell or promote products or services that would be considered competition to the Company. This includes joining other direct sales companies that offer similar services, opportunities, or products as FOR TAILS ONLYTM. Independent Handlers are not allowed to represent competing companies and any Handler found to be doing so will have their Handler Agreement terminated if they do not sever ties with the competing company within one (1) week.

      Handlers should gather ALL the information on the order form, including the complete legal name, credit card number, expiration date, and the security code on the back of the card. FOR TAILS ONLYTM accepts American Express, Discover, MasterCard, and Visa. When a Customer places an order online, the FOR TAILS ONLYTM system will process the credit card payment. A Handler may or may not choose to use his or her personal merchant account to process credit cards.

      The tax rate for an order is based on the ZIP code of the shipping address. Independent Handlers are to collect taxes based on the rate of the location to which the order is being sent. When selling at vendor events or conferences, the Handler is responsible for identifying the correct tax rate for the area they will be selling from.

      FOR TAILS ONLYTM wants customers to be perfectly satisfied with purchases. If a product does not meet a customer's expectations for any reason, please contact FOR TAILS ONLYTM at returns@fortailsonly.net.
      * Cancellations: Independent Handlers need to understand that customers have a legal right to cancel orders for personalized products within three (3) business days (five [ 5 ] business days in Alaska).
      * Return or Exchange: Personalized items may only be returned due to a manufacturer defect or at the Company’s sole discretion. If the item is returned within 15 days of receipt, FOR TAILS ONLYTM will pay for shipping to review the return.
      * Refund on Return: FOR TAILS ONLYTM encourages customers to exchange items for the same item being returned. However, if a refund is being requested, the amount of any commissions owed the Independent Handler for the refunded products will be deducted from any amounts the Handler is to be paid. This deduction will occur for the month in which FOR TAILS ONLYTM processes the return (and will continue every month after until the entire amount of the commission is recovered).
      FOR TAILS ONLYTM may place a Handler's account on hold for money owed to FOR TAILS ONLYTM or for violation of other policies and procedures. If an account is on hold, the Handler may be prohibited from placing orders, receiving all or a portion of commissions, registering for conventions or obtaining other Handler benefits until the account is current and/or all Policy and Procedure violations are resolved or, if the Handler is in a requalification period, until the requalification period has expired.

      * Independent Handlers who choose to resign from FOR TAILS ONLYTM, for any reason, must sign and submit a brief letter of resignation to the Home Office stating their intentions. The letter should be mailed or e-mailed, and include Handler's name, Microchip number, and signature.

      * Resignationsbecomeeffectivethefirstdayofthemonthfollowingthemonthinwhich the resignation letter was received at the Home Office.
      * FOR TAILS ONLYTM must receive cancellation of a resignation in writing before the end of the last business day of the month in which FOR TAI LS ONLYTM received the resignation notice.

      * The downline of the resigning Handler will remain connected with the resigning Handler's upline.

      * FOR TAILS ONLYTM does not provide a money-back guarantee when signing up as an Independent Handler. Independent Handlers enter into a binding agreement with FOR TAILS ONLYTM upon submitting their application and payment. Independent Handlers may cancel signed agreements at any given time during their membership with FOR TAILS ONLYTM by following the outlined process in the Policy and Procedures.

      * In the event of resignation, Independent Handlers agree not to compete with FOR TAILS ONLYTM by enrolling in or joining another direct selling company offering competing products for a period of one year from the date of the Handler's resignation from FOR TAILS ONLYTM. Independent Handlers may not offer competing products or services from another direct selling company, multilevel marketing or network marketing business to FOR TAILS ONLYTM Independent Handlers or customers nor recruit and/or enroll any other FOR TAILS ONLYTM Handler or customer into another direct selling, multilevel marketing or network marketing business for a period of one year from the date of the Handler's resignation from FOR TAILS ONLYTM.
      * In the event that a Handler is deactivated or resigns for any reason, as stated in the Handler Agreement, she/he will:
      * Within five (5) days after termination pay all amounts due and owing FOR TAILS ONLYTM;
      * Agree not to compete with FOR TAILS ONLYTM by enrolling in or joining another direct selling company offering competing products for a period of one year from the date of the Handler's deactivation from FOR TAI LS ONLYTM. Independent Handlers may not offer competing products or services from another direct selling company, multilevel marketing or network marketing business to FOR TAILS ONLYTM Independent Handlers or customers nor recruit and/or enroll any other FOR TAILS ONLYTM Handler or customer into another direct selling, multilevel marketing or network marketing business for a period of one year from the date of the Handler's deactivation from FOR TAILS ONLYTM.
      * Comply with all other applicable provisions of the Handler Agreement.

      Deactivated Handlers have a maximum of six (6) months to reactivate their accounts with FOR TAILS ONLYTM. If they fail to meet the Reactivation requirements within the six months timeframe they must sign up with a new Handler agreement.

      Deactivated Handlers who wish to reactivate their status must do the following:
      * Make a purchase of a minimum of $100 on their FOR TAILS ONLYTM.
      * Pay all monies owed, including past website fees and the current website fees due.

      Reactivated Independent Handlers will resume Active Status on the Compensation Plan at the level they had been promoted to upon Deactivation. The downline will NOT be reconnected to them upon reactivation. The Handler’s personal sales volume will reset at zero (0) and the minimum cumulative retail sales of $300 in a consecutive three-month period will begin immediately upon reactivation.

      * All Handlers must have minimum cumulative retail sales of $300 in a consecutive three- month period beginning ninety (90) days after the Handler has signed the Handler Agreement. Failure to place this amount within a consecutive three-month period will result in deactivation/termination of the Handler Agreement.

      * Deactivations are effective on the first day of the month following the end of the three- month period during which a minimum order was not placed.

      * Deactivation means a loss of Handler status and all Handler benefits: product discounts, company mailings and eligibility for company contests, events, and incentives, as well as the loss of all downline Handlers and commissions.

      * The downline of a deactivated Handler will remain connected to the deactivated Handler's upline. FOR TAI LS ONLYTM reserves the right to reassign if deemed necessary.

      FOR TAILS ONLYTM understands there are times when Handlers may need time off for personal reasons. FOR TAILS ONLYTM allows Handlers to take a Leave of Absence under certain circumstances without impacting their status. All Leave requests are subject to the approval of FOR TAILS ONLYTM administration.

      Personal Leave and Maternity Leave
      FOR TAILS ONLYTM allows Independent Handlers to apply for maternity or other personal leave of up to three consecutive months during one (1) 12-month period. Handlers will maintain Active status during the approved leave but are not eligible for promotion to the next status level.

      To request maternity or personal leave, email FOR TAILS ONLYTM at admin@fortailsonly.net. Your leave request is subject to FOR TAILS ONLYTM approval at the Company’s sole discretion.

      Military Leave
      FOR TAILS ONLYTM recognizes there are instances where the Independent Handler or spouse may be an active member of the U.S. military. In the event the Handler and/or spouse are deployed, FOR TAILS ONLYTM can place the account on HOLD ACTIVE. It would be your choice whether to continue paying monthly website fees to keep the Handler site online during the time of deployment. It is the responsibility of the Handler to notify FOR TAILS ONLYTM of return from deployment and the end of the hold period.

      To request or update military leave, email FOR TAILS ONLYTM at admin@fortailsonly.net.

      For Tails OnlyTM will not allow the use of its trade names, trademarks, designs, or symbols by any person, including Independent Handlers, without its prior written permission. Handlers may not produce for sale or distribution any recorded Company events and speeches without written permission from For Tails OnlyTM nor may Handlers reproduce for sale or for personal use any recording of Company-produced audio or videotape presentations.

      You may not use For Tails OnlyTM ® trade names, trademarks, designs, images or symbols without prior written permission, except as outlined. Video or audio recordings of company events, training and/or speeches are also copyrighted and may not be distributed without written permission.

      The name For Tails OnlyTM is of great value to the Company, and is supplied to you for your use only in an authorized manner. Use of the For Tails OnlyTM name on any item not produced or authorized by the Company is prohibited.

      As a Handler you may use the For Tails OnlyTM name in the following manner:

      Handler’s Name Independent Handler, For Tails OnlyTM
      or:
      For Tails OnlyTM Independent Handler
      Example:
      Sarah Jones Independent Handler, For Tails OnlyTM

      If you use a For Tails OnlyTM logo in any communication, you must use the Independent Handler version of the logo. Using any other For Tails OnlyTM logo requires written approval.

      Independent Handlers may use social networking sites (including,but not limited to, Facebook, Twitter, LinkedIn, Pinterest, Google+, Instagram, YouTube, Vine, blog forums, and other social shared interest sites) to promote your FOR TAILS ONLYTM business, including personal business events and current Home Office promotions. Handlers may also promote FOR TAILS ONLYTM products and the Business Opportunity.

      Handler generated profiles in any social community where FOR TAILS ONLYTM is mentioned or discussed must clearly identify the author as an INDEPENDENT HANDLER. When a Handler participates in those communities, including any Home Office-sponsored websites, Handlers must represent FOR TAILS ONLYTM in a positive manner. Handlers must avoid inappropriate conversations, comments, images, video or audio or any other adult, profane, discriminatory, or vulgar content. The determination of what is inappropriate is at the sole discretion of FOR TAILS ONLYTM and offending Handlers will be subject to disciplinary action/or deactivation.

      Independent Handlers are not allowed to use or register FOR TAILS ONLYTM names or any of FOR TAILS ONLYTM trademarks, product names, or derivatives as an Internet domain name. Handlers are not to use or register domain names, email addresses, and/or online aliases that could cause confusion, be misleading, or deceptive in that they cause individuals to believe or assume the communication is from, or the property of, FOR TAILS ONLYTM.

      Independent Handlers will not be allowed to have external sites used as redirects. For example, Handlers may not purchase a domain name that a customer clicks on that automatically takes the customer to the Replicated Website.

      Independent Handlers will be allowed to place a link on a blog or personal website that links back to the Replicated Website (a link back). Handlers may promote products, events, and special promotions through personal sites and link back to the Replicated Website for purchase and sign up.

      Independent Handlers may use an external website for the purpose of communicating with team members. The team website should be closed and password-protected (unable to be viewed by the public) and the owner will need to revoke access of any Handlers that leave the team.

      Independent Handlers are not allowed to use FOR TAILS ONLYTM or the abbreviation FTO for any website, team, or for advertising purposes.

      For example, website names such as these are NOT allowed:
      http://fortailsonlyisawesome.com
      http://Isellfortailsonlyforfun.wordpress.com

      FOR TAILS ONLYTM issues optional email addresses to Independent Handlers upon request. Company- issued email addresses may be used to designate you as an Independent Handler. The Company preference is for Handlers to utilize this email to maintain the brand and professional integrity of the organization.
      Independent Handlers who wish to utilize external email services may not use the name FOR TAILS ONLYTM when creating an email alias. Handlers may create email aliases using derivatives such as FTOHandler. Handlers may not use email addresses referencing another direct sales company or email addresses from another company or employer for any FOR TAILS ONLYTM business correspondence. Handlers who choose not to utilize Company-issued email addresses should create a FOR TAILS ONLYTM email address for all business communications.

      Independent Handlers will be issued a FOR TAILS ONLYTM Replicated Website by subscription to facilitate the online buying experience for customers and enrollments for prospective business partner. Certain fees apply.

      Please check with your Sponsor or Back Office for Replicated Website pricing.

      Independent Handlers may not alter the branding, artwork, look, or feel of the Replicated Website and may not use the Replicated Website to promote, market, or sell non-FOR TAILS ONLYTM products, services, or business opportunities. Specifically, an Independent Handler may not alter the look (placement, sizing, etc.) or functionality of the following:
      * The FOR TAILS ONLYTM Independent Handler Logo
      * Your name
      * FOR TAILS ONLYTM Corporate Website redirect button
      * Artwork, logos, or graphics
      * Original text

      Independent Handlers will determine the name for the FOR TAILS ONLYTM Replicated Website URL (such as www.[Your Name].ForTailsOnly.com).	If, for any reason, FOR TAILS ONLYTM finds an Independent Handler's URL to be confusing, offensive, or misleading, FOR TAILS ONLYTM reserves the right, at any time, to request that the Independent Handler change his or her Replicated Website URL address.

      An Independent Handler should choose a uniquely identifiable website name that cannot:

      * Be confused with other portions of the FOR TAILS ONLYTM corporate website; * Confuse a reasonable person into thinking he or she has landed on a FOR TAILS ONLYTM corporate
      page;
      * Be confused with any FOR TAILS ONLYTM name; * Contain any discourteous, misleading or offensive words or phrases that may damage FOR TAILS ONLYTM image.

      You are allowed one external blog to personalize your For Tails OnlyTM business and/or promote the opportunity. If you wish to develop an external blog you must do the following:

      1.	Submit for approval and register your blog with the For Tails OnlyTM! Compliance Department by emailing compliance@fortailsonly.net Blogs must be approved before going live. Approvals may take 2 - 4 weeks, depending on content.
      2.	Adhere to the branding and image usage policies described in this document.
      3.	Agree to modify your site to comply with current or future policies.
      4.	Agree to remove all references to For Tails OnlyTM from your registered site within 5 days, in the event of the voluntary or involuntary cancellation of your Independent Handler Agreement.

      A blog developed on a blogging platform that is developed for the primary purpose of Marketing or promoting For Tails OnlyTM products and/or the For Tails OnlyTM opportunity must be registered with the Company Compliance Department.

      Blog Content
      You are solely responsible and liable for your own blog content, messaging, claims, and information and must ensure that your blog appropriately represents and enhances the For Tails OnlyTM brand and adheres to company guidelines and policies. Additionally, your blog must not contain disingenuous popup ads or promotions or malicious code. All decisions and corrective actions are at the Company’s sole discretion.

      For Tails OnlyTM Independent Handler Image Mandate
      To avoid confusion, the following three elements must be prominently displayed at the top of your registered blog:
      1. For Tails OnlyTM Independent Handler Logo;
      2. Your Name and the phrase For Tails OnlyTM Independent Handler; and,
      3. Your Photo.

      Although For Tails OnlyTM brand themes and images are desirable for consistency, anyone landing on your page needs to clearly understand that they are at an Independent Handler’s site and not a For Tails OnlyTM Corporate site.

      Blog Must Exclusively Promote For Tails OnlyTM
      Your registered external blog must contain content and information that is exclusive to For Tails OnlyTM. You may not advertise other products or services other than the For Tails OnlyTM line and the For Tails OnlyTM opportunity. Any site or profile you maintain that uses For Tails OnlyTM trademarks must exclusively promote For Tails OnlyTM.

      Independent Handlers are prohibited from developing an eCommerce environment that would facilitate this model. All orders must be placed through your official For Tails OnlyTM replicated site or e-Office.

      FOR TAILS ONLYTM does not support online sites that are bidding or discount related and does not support products being issued through lottery, gambling, auction, or chance types of offers. These online sites may include but are not limited to eBay or similar, Etsy, Amazon, penny-type auction sites and other similar types of sites. FOR TAILS ONLYTM has a zero tolerance policy for these actions and your agreement will be immediately terminated resulting in the loss of any earned commissions still owed.

      To provide consistency and protect the registered FOR TAILS ONLYTM trademark, Independent Handler advertising should be done using approved logos and images. Proposed texts/ads are to be submitted to FTOCompliance@fortailsonly.net for approval at least two weeks prior to when needed.

      FOR TAILS ONLYTM Independent Handlers may not duplicate the FOR TAILS ONLYTM logos on T-shirts, caps, bags, flags, aprons, signs, etc., for personal use or for the intention of selling to others. FOR TAILS ONLYTM will work with Handlers on an individual basis for business needs. These products will be readily available from the Home Office at reasonable prices.

      It is the Company’s responsibility to protect the value of FOR TAILS ONLYTM, therefore allow no unauthorized use of the Company name, logo and trademark or designs, images or symbols. Handlers may not alter or change the Company name, logo, trademarks, designs, images or symbols.

      Digital Media Submission (YouTube, iTunes, PhotoBucket etc.)

      All video content must be submitted and approved by our Compliance Department prior to posting. These submissions must be made to compliance@fortailsonly.net. Approvals can take 2-4 weeks for a response, depending on content. These submissions must clearly identify you as an Independent Handler (either in the content itself and/or in the content description tag), must comply with all advertising policies, copyright/legal requirements, and must state that you are solely responsible for this content and not For Tails OnlyTM Corporate. You may not upload, submit or publish any content (video, audio, presentations or any computer files) received from For Tails OnlyTM Corporate or captured at official corporate events or in buildings owned or operated by For Tails OnlyTM without prior written permission from the For Tails OnlyTM Compliance Department.

      For Tails OnlyTM business relationships with its marketing alliances, vendors, suppliers, Company associates or former employees within or outside the corporate workplace are confidential, proprietary, and not to be circumvented by either the Handler or the vendor. A Handler shall not contact, directly or indirectly, or speak to or communicate with any representative of any supplier or manufacturer of Company except at a Company-sponsored event at which the representative is present at the request of Company or as otherwise expressly permitted in writing by Company. Violation of this regulation may result in termination of the Handler and possible claims of damages against the Handler and/or the vendor. Questions regarding any of these business relationships should be directed to the Compliance Department.

      The Company wants to provide Handlers with the best products, compensation plan, and service in the industry. Accordingly, we value constructive criticisms and comments. All such comments should be submitted in writing to the Compliance Department. While the Company welcomes constructive input, negative comments and remarks made in the field by Handlers about the Company, its products, the Marketing and Compensation Plan or other Handlers serve no purpose other than to sour the enthusiasm of other Company Handlers. For this reason, and to set the proper example for their Marketing Organization, Handlers must not disparage, demean, or make negative remarks about Company, other Company Handlers, Company products, the Marketing and Compensation Plan, or Company directors, officers, or employees.

      Do not converse with one who places a negative post against you, other Independent Handlers or For Tails OnlyTM. Report negative posts to the Company at compliance@fortailsonly.net. Responding to such negative posts often simply fuels discussions with those who do not hold themselves to the same high standards as For Tails OnlyTM and therefore damages the reputation and goodwill of the Company.

      FOR TAILS ONLYTM reserves the right to offer special clearance and outlet sale opportunities from time to time. These sales may be non-commissionable, in which case sales will not count toward monthly qualifications or maintenance for personal rank or commissions. All clearance and outlet sales are final and products are purchased "as is."

      FOR TAILS ONLYTM reserves the right to make any amendments or adjustments from time to time when necessary with respect to its Policies and Procedures or Compensation Plan. Any such changes shall be incorporated as part of the Independent Handler Agreement between FOR TAILS ONLYTM and its Handlers effective upon notification in official FOR TAILS ONLYTM materials or published online through FOR TAILS ONLYTM Website or Independent Handler Facebook groups. The acceptance of your FOR TAILS ONLYTM Handler Agreement and/or your acceptance of Independent Handler Compensation constitutes acceptance of the Company's Policies and Procedures and any and all amendments.

      The Company may immediately terminate a FOR TAILS ONLYTM Handler who discredits the Company's name, violates any requirement contained in this Agreement, Company Policy and Procedures, or training manuals or misrepresents the Company's products or business opportunity by making claims contrary to the Company's product literature and labels.

      By purchasing your Business Starter Kit or any other Business Plan you are agreeing to these Policies and Procedures. This Agreement constitutes the entire Agreement between the Handler and FOR TAILS ONLYTM and no other additional promises, representations, guaranties, or agreements of any kind shall be valid unless in writing.

      This Agreement shall be governed by the laws of the state of Florida, and all claims, disputes, and other matters between the parties of this Agreement shall be brought in Osceola County, Florida, or in the U.S. District Court, in Orlando, Florida.

      I acknowledge that I have read and understand and agree to the terms set forth in this
      Agreement.

      This Agreement is not in force until accepted by the Company.
      </textarea>
    </div>
  </div>
  <div class="row">
    <div class="columns small-12">
      <label for="is-agreed">
        <input id="is-agreed" disabled required type="checkbox"/>
        I agree to the above Terms and Conditions.
      </label>
    </div>
  </div>
  <div class="row">
    <p class="unimportant-text medium-font columns small-12">
      Note: must read through the distributor agreement and click agree before proceed (your consent will be recorded)
    </p>
  </div>
  <div class="row">
    <div class='medium-12 columns'>
      <button disabled type="submit">Continue</button>
    </div>
  </div>
</form>
