<form class="sign-up-step-2 sign-up-step" name="step2" ng-submit="nextStep()" novalidate>
  <div class='row'>
    <div class='medium-12 columns'>
      <h2>PLEASE CHOOSE ONE OF THE FOLLOWING</h2>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <label class="accountTypeRadio" ng-repeat="product in products.data">
        <input type="radio" ng-value="product" ng-model="products.selection" name="accountType" id="radio1" required>
        <h6>{{product.name}}</h6>
        <p>Price {{product.price | price}}</p>
      </label>
    </div>
  </div>
  <div class="row">
    <div class='medium-12 columns'>
      <button type="submit">Continue</button>
    </div>
  </div>
</form>
