<form class="sign-up-step-2 sign-up-step" name="step3" novalidate>

  <div data-personal-panel
       data-account="account"
       data-submitted="submitted"></div>

  <div data-address-panel
       data-address-type="home"
       data-title="Home"
       data-address="address.home"
       data-submitted="submitted">
  </div>

  <div data-address-panel
       data-address-type="shipping"
       data-title="Shipping"
       data-address="address.shipping"
       data-home-address="address.home"
       data-submitted="submitted">
  </div>

  <div data-address-panel
       data-address-type="web"
       data-title="Web"
       data-address="address.web"
       data-home-address="address.home"
       data-submitted="submitted">
  </div>

</form>
