#bc {
	margin-top:10px;
    padding: 0px;
	padding-right:10px;
    float:right;
	position: relative;
	z-index: 4;
}
#bc-welcome {
	float:left;
	text-align:right;
    color: #A00203;
	font-family:Arial,Helvetica,sans-serif;
    font-size: 13px;
	padding: 16px 16px 0px 10px;
	margin: 0px 5px 0px 5px;
}

#bc-welcome a {
	text-align:right;
    color: #A00203;
	font-family:Arial,Helvetica,sans-serif;
    font-size: 13px;
	text-decoration: none;
    padding: 0px 0px 0px 0px;
}

#bc-welcome a:hover, #bc-welcome a:active {
	font-family:Arial,Helvetica,sans-serif;
	font-size:13px;
	text-decoration:none;
	color:#A00203;
    padding: 0px 0px 0px 0px;
}

#bc-userimage {
	float:left;
	padding: 0px 8px 0px 0px;
}
#bc .upgrade-img {
	width: 29px;
	height: 30px;
	vertical-align:middle;
}

#bc .bc-upgrade, .bc-upgrade a {
    font-family:Arial,Helvetica,sans-serif;
    font-size:13px;
    text-decoration:none;
    color:#A00203;
}

#bc .bc-languagedropdown {
    float:left;
    padding: 15px 3px 0px 0px;
	margin: 0px 5px 0px 5px;
}

#bc .bc-profile {
    float: left;
    padding: 10px 8px 0px 5px;
}
#bc .bc-messages {
    float: left;
    margin: 10px 8px 0px 5px;
	background-image: url('../images/eMail5.png');
	background-repeat: none;
	width: 38px;
	height:30px;
}

#bc .bc-upgrade {
    float: right;
    padding: 10px 8px 0px 5px;
}

#voicecastreturnframe {
    border: solid 2px white;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    position: relative;
    z-index: 250;
    background-color: #A00203;
    padding: 0px;
	top: -8px;
	left: 10px;
    float:left;
	overflow:hidden; 
	min-height:14px; 
	min-width:20px;
	max-width:25px;
	max-height:20px;
}
#voicecastreturnframe a {
    color: white;
    font-size: 13px;
    text-decoration: none;
    padding: 1px 3px 1px 3px;	
	top: -5px;
	margin: 0px;
}


