<!-- signUpContainer start -->
<div class='row panel radius signUpContainer' id='step_2' style='display:none;'>
  <ul class="sign-up-step step-2 text-center clearfix">
    <li>SELECTION<a href="#step_1"></a></li>
    <li class="current">SPONSOR</li>
    <li>PRODUCTS</li>
    <li class="account">ACCOUNT</li>
    <li class="checkout">CHECKOUT</li>
  </ul>
      
  <h4>
    VERIFY SPONSOR<br/>
  </h4>
  <!-- signUpCon start -->
  <div class='panel signUpCon'>
    <form id="step2"  novalidate="novalidate">
      <h5>Sponsor Info</h5>
      <div class="row formItem">
        <div class='small-3 columns'>
          <label id="sponsorIDLabel">Sponsor ID<small class="required"></small></label>
        </div>
        <div class='small-3 end columns text-left'>
          <%= text_field_tag :sponsor, params[:sponsor_id], :id => 'sponsorID', :class => "signUpInputW"%>
          <button id="show_sponsor" style='padding:5px'>check</button><span id='show_sponsor_name' style='margin-left:1em'></span>
          
        </div>
      </div>

      <h5>Country Selection</h5>
      <div class="row formItem">
        <div class='small-3 columns'>
          <label>Your Country <small class="required"></small></label>
        </div>
        <div class='small-3 end columns text-left'>
          <%= select_tag :country_id, options_for_select(@countries,['United States','1214', :iso => "US"])%>
        </div>
      </div>
      <div class="row formItem">
        <div class='small-3 columns'>
          <label>Language <small class="required"></small></label>
        </div>
        <div class='small-3 end columns text-left'>
          <%= select_tag :language, options_for_select(@languages) %>
        </div>
      </div>
      <div class="row formItem">
        <div class='small-3 columns'>
          <label></label>
        </div>
        <div class='small-5 end columns text-left'>
           <input type="submit" class='button tiny' value="Continue" id="step2_submit">
        </div>
      </div>
    </form>
  </div>
  <!-- signUpCon end -->
</div>
<!-- signUpContainer end -->