<!-- signUpContainer start -->
<div class='row panel radius signUpContainer' id='step_6' style='display:none;'>
  <!-- signUpContainer end -->
  <h4>
    <span class='cYellow'>WELCOME <span class='login_placeholder'></span>!</span><small class='right'><a href='#' class='cFFF'>Print</a></small><br/>
    <small>Congratulations and welcome to the team! Be sure to contact your sponsor right away to get your business off the ground and start earning income today!</small>
  </h4>
      
  <div class='panel signUpCon'>
    <form data-abide="" novalidate>
      <div class="row formItem">
        <div class='small-12 columns'>
          <table width='100%'>
            <thead>
              <tr>
                <th width="50%">Your Account</th>
                <th><a href='/' style="float: right;color: #fff;">Back to Home</a></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td width='60%'>
                  User Name: <span class='cFFF'><span class="login_placeholder"></span> (ID: <span class='distributor_placeholder'></span>)</span><br/><br/>Password: <span class='cFFF password_placeholder'></span><br/><br/>Web address:  <span class='cFFF'>http://www.zvicorp.com/<span class='login_placeholder'></span></span>
                </td>
                <td>Sponsor Name: <span class='cFFF' id='sponsor_name_placeholder'></span><br/><br/>Sponsor Email: <span class='cFFF' id='sponsor_email_placeholder'></span><br/><br/>Sponsor Phone:  <span class='cFFF' id="sponsor_phone_placeholder"></span></td>
              </tr>
              <tr>
                <td colspan="2">
                  Your Independent Partner Number will be used as your ZVI identification on all documents as you grow your business. Please keep it in a safe place.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row formItem">
        <div class='small-12 columns'>
          <table width='100%' cellspacing=0>
            <thead>
              <tr>
                <th width="50%">Order ID: <span class='cFFF' id='show-order-id'></span></th>
                <th>Status: <span class='cYellow' id='show-payment-state'></span></th>
              </tr> 
            </thead> 
            <tbody> 
              <tr> 
                <td>
                  Order Date: <span class='cFFF' id='order_date_placeholder'></span><br/>
                  Shipping Method: <span class='cFFF shipping_method_placeholder'></span>
                </td>  
                <td>
                  Payment Date: <span class='cFFF' id='payment_date_placeholder'></span><br/>
                  Payment Method: <span class='cFFF payment_method_placeholder'></span>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  Contact us at 888 - 937 - 9648 or cc@zvicorp.com
                </td>
              </tr>
            </tbody> 
          </table>
        </div>
      </div>
      <h5>Shipping Address</h5>
      
      <div class="row formItem">
        <ul class="vcard shipping_address_placeholder">
          <li class="locality"><span class='name'></span></li> 
          <li class="locality"><span class='address'></span></li> 
          <li class="locality"><span class='city'></span></li> 
          <li class="locality">Phone: <span class='phone'></span></li> 
        </ul>
      </div>
      
    
        <div class="creditcard-wrapper">
        <h5>Billing Address</h5>
     
      
        <div class="row formItem">
          <ul class="vcard billing_address_placeholder">
            <li class="locality"><span class='name'></span></li> 
            <li class="locality"><span class='address'></span></li> 
            <li class="locality"><span class='city'></span></li> 
            <li class="locality">Phone: <span class='phone'></span></li> 
          </ul>
        </div>
      </div>
      
      <h5>Products</h5>
      <div class="row formItem">
        <div class='small-12 columns'>
          <table width='100%'>
            <thead>
              <tr>
                <th>Item</th>
                <th width='60'>PV</th>
                <th width="80">Price</th>
                <th width="80">Quantity</th>
                <th width="100">Total Price</th>
              </tr>
            </thead>
            <tbody id="step6-line-items">
             
            </tbody>
            <tfoot>
              <tr>
                <th colspan="5">
                  <div class='checkOutFoot'>
                    <div class="step6_adjustments_place_holder">
                      
                    </div>
                   <strong>Total Price: $<span class='step6_total_price_placeholder'></span> </strong>
                    <p>PV Total: <span class='total_pv_placeholder'></span> </p>
                  </div>
                </th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
              
      <div class="row formItem">
        <div class='small-12 columns text-right'>
          <a class='button tiny' href='/'>Back to Home</a>
        </div>
      </div>
    </form>
  </div>
  <!-- signUpCon end -->
</div>
<!-- signUpCon start -->