body{background:#FFF}
a#pageright,a#pageleft{bottom: 30px;background-position:center}
#scrollbar1{margin:68px 0 10px}
#scrollbar1 > .scrollbar{bottom: 25px!important}
#scrollbar1 .overview1{width: 500%}

#producttabswrap{position:absolute;left:0;top:0;z-index:1;width:100%}
#producttabs{margin:44px 40px 0 0}
#producttabs li{margin-left:30px;position:relative}
#producttabs li.on a:hover > li{display:none}
#producttabs a img,#producttabs li.on a img,#producttabs a:hover img,#producttabs a,#producttabs a:hover,#producttabs li.on a,#producttabs li,#producttabs a,#producttabs li.on,#producttabs li.on a,#producttabs li:hover,#producttabs a:hover,.buynow,.buynow img,.buynow:hover img,#downloadlinkswrap img,#downloadlinkswrap a:hover img,img,.factsheetdownload img,.factsheetdownload a:hover img{-webkit-transition:all 200ms ease;-moz-transition:all 200ms ease;-o-transition:all 200ms ease;-ms-transition:all 200ms ease;transition:all 200ms ease}

#producttabs a img{opacity:0;width:100%;height:100%}
#producttabs li.on a img,#producttabs a:hover img{opacity:1}
#producttabs a{border:1px solid #FFF;background-size:100% 100%;position:absolute;top:0;right:0;box-shadow:0 0 25px rgba(0, 0, 0, 0.30)}
#producttabs a:hover,#producttabs li.on a{border:1px solid #E7B006;top:-20%}
#producttabs li,#producttabs a{display:block;float:left;width:67px;height:44px}
#producttabs li.on,#producttabs li.on a,#producttabs li:hover,#producttabs a:hover{width:104px;height:69px}
#producttabs a#dtxtab{background-image:url(../images/thumb-dtx.jpg)}
#producttabs a#burntab{background-image:url(../images/thumb-burn.jpg)}
#producttabs a#emztab{background-image:url(../images/thumb-emz.jpg)}
#producttabs a#genkitab{background-image:url(../images/thumb-genki.jpg)}
#producttabs a#onetab{background-image:url(../images/thumb-one.jpg)}
.producttabarrow{width: 0px;height: 0px;border-style: solid;border-width: 8px 8px 0 8px;border-color: #E7B006 transparent transparent transparent;position:relative;z-index:-1;top:38px;left:40%;opacity:0;display:inline-block;
-webkit-transition:all 200ms linear;-moz-transition:all 200ms linear;-o-transition:all 200ms linear;-ms-transition:all 200ms linear;transition:all 200ms linear}
.on .producttabarrow{top:48px;opacity:1;
-webkit-transition:all 200ms linear;-moz-transition:all 200ms linear;-o-transition:all 200ms linear;-ms-transition:all 200ms linear;transition:all 200ms linear}

.buynow,.buynow img{display:inline-block;float:none!important;clear:both!important}
.buynow:hover img{opacity:0.9}
.videowrap{width:480px;margin:0 125px 0 70px;box-shadow:0 0 25px rgba(0, 0, 0, 0.10);position:relative;z-index:2}
.videowrap a,.videowrap a:hover{-webkit-transition:all 0ms ease;-moz-transition:all 0ms ease;-o-transition:all 0ms ease;-ms-transition:all 0ms ease;transition:all 0ms ease}

#downloadwrap{background:#38302F url(../images/download-icon.gif) 16px center no-repeat;padding:10px 0 25px 80px;font-size:18px;color:#FFF;line-height:45px}
#downloadlinkswrap a{margin-right:30px;float:left}
#downloadlinkswrap img{opacity:1}
#downloadlinkswrap a:hover img{opacity:0.8}
#downloadlinkswrap{background:url(../images/factsheets-sep.gif) 115px center no-repeat;overflow:auto}

.downloadwrap{background:#38302F url(../images/download-icon.gif) 90px center no-repeat;padding:10px 0 25px 165px;font-size:18px;color:#FFF;line-height:45px;position:relative;z-index:1}
.downloadwrap p{overflow:auto}
#dtx .downloadwrap{background-position:70px center;padding:10px 0 25px 150px}
.factsheetdownload{overflow:auto}
.factsheetdownload a{margin-right:30px;float:left}
.factsheetdownload img,#one p.downloadlinkswrap a img{opacity:1}
.factsheetdownload a:hover img,#one p.downloadlinkswrap a:hover img{opacity:0.8}
.factchoc{padding-bottom:10px}
#one .downloadwrap{background-position:60px center;padding:10px 0 25px 140px}
#one p.downloadlinkswrap{background:url(../images/factsheets-sep.gif) 155px 2px no-repeat}
#one p.downloadlinkswrap a{margin-right:30px;float:left}

#dtxcontent h1,#burncontent h1,#emzcontent h1,#genkicontent h1,#onecontent h1{font-size:60px;font-weight:600;line-height:60px;color:#545454}
#dtxcontent h1 span.tagline,#burncontent h1 span.tagline,#emzcontent h1 span.tagline,#genkicontent h1 span.tagline,#onecontent h1 span.tagline{font-size:18px;font-weight:300;display:block;padding-left:3px;line-height:normal}
#dtx,#burn,#emz,#genki,#one{height 780px;padding-left:32%}
#dtxcontent,#burncontent,#emzcontent,#genkicontent,#onecontent{width 390px;margin:17% 0 0 50px}
#dtxcontent p,#burncontent p,#emzcontent p,#genkicontent p,#onecontent p{font-size:15px;color:#000;line-height:26px;margin:25px 0}
#dtxwrap,#burnwrap,#emzwrap,#genkiwrap,#onewrap{width:20%;height:500px}

#dtx{background:url(../images/dtx-main.png) 100px center no-repeat}
#burn{background:url(../images/burn-main.png) 100px center no-repeat}
#emz{background:url(../images/emz-main.png) 100px center no-repeat}
#genki{background:url(../images/genki-main.png) 100px center no-repeat}
#one{background:url(../images/one-main.png) 100px center no-repeat}

#dtxcontainer{background:url(../images/bg-dtx-top.jpg) right 0 no-repeat}
#dtxwrap{background:url(../images/bg-dtx-bottom.jpg) 0 bottom no-repeat}
#burncontainer{background:url(../images/bg-burn-top.jpg) right 0 no-repeat}
#burnwrap{background:url(../images/bg-burn-bottom.png) 0 bottom no-repeat}
#emzcontainer{background:url(../images/bg-emz-top.jpg) right 0 no-repeat}
#emzwrap{background:url(../images/bg-emz-bottom.png) 0 bottom no-repeat}
#genkicontainer{background:url(../images/bg-genki-top.jpg) right 0 no-repeat}
#genkiwrap{background:url(../images/bg-genki-bottom.png) 0 bottom no-repeat}
#onecontainer{background:url(../images/bg-one-top.jpg) right 0 no-repeat}
#onewrap{background:url(../images/bg-one-bottom.png) 0 bottom no-repeat}

.tabcontent{margin:110px 80px 0 0;height:500px;overflow-y:auto}
.tabcontent h1{font-size:32px;margin-bottom:10px}
.tabcontent h2{font-size:20px;color:#000;padding:25px 0 10px;clear:both}
.tabcontent p{line-height:26px;padding:5px 0}
.tabcontent img{border:1px solid #E5E5E5}
.ataglance{padding:25px 25px 0}
.ataglance img{float:left;margin-right:15px;height:75px;box-shadow:0 0 25px rgba(0, 0, 0, 0.25);border:1px solid #FFF}
.ataglance h1{font-size:24px;margin-bottom:5px}
.ataglance h2{font-size:18px;padding:5px 0 65px 142px;clear:none}
.ataglance .fleft{width:50%}
.rating{background:url(../images/star-rating.gif) 140px 0 no-repeat;height:14px}
.ingredients{margin-right:55px;padding-left:20px}
.ingredients h1{font-weight:600}
.ingredients h1 span{font-size:22px;font-weight:300;display:inline}
.ingredients h2{margin:0;padding-top:10px;border-bottom:1px solid #BBB}
.ingredients li{clear:both;overflow:auto;border-bottom:1px solid #DDD;padding:0!important;font-size:15px}
.ingredients .highlighted{background:#F5F5F5;padding:5px;color:#000;border:1px solid #DDD;border-top:0}
.ingredients .ingcontent{margin-bottom:10px;padding:5px 10px;border:1px solid #CCC;font-size:14px;color:#999;background:#FFF}
.ingredients p{line-height:20px}
.ingredients span{display:block;padding:8px}
.ingredients span span{display:inline-block;padding:0;color:#999}
.ingredients span.fright{font-weight:600;color:#000}
.no .fleft{font-size:72px;font-weight:600;margin-right:10px}
.no p{line-height:96px}
.method{margin-right:80px}
.ingredients h3{font-weight:600;color:#333}
.ingredients .directions{margin:10px 0;padding:10px!important;border-top:2px solid #CCC;border-bottom:2px solid #CCC;font-size:14px;color:#999;background:#FFF}
.note{background:#F5F5F5;margin:5px 5% 5px 0;padding:5px 10px!important;color:#000;border:1px solid #DDD;text-align:center}
.ingredients li.othering{margin:10px 0;padding:10px!important;border:1px solid #CCC;font-size:14px;color:#999;background:#FFF}
#dtx1ingredients,#dtx2ingredients,#onevaningredients,#onechocingredients{width:45%;margin:0 5% 10px 0}
#burningredients,#emzingredients{width:95%}
#genki1ingredients ul{width:45%;margin:0 5% 10px 0}
#genki1ingredients span.fright{width:90px;text-align right}
#onevaningredients span.fright,#onechocingredients span.fright{width:55px;text-align:right}
#onevaningredients .serv span.fright,#onechocingredients .serv span.fright,#onevaningredients .highlighted span.fright,#onechocingredients .highlighted span.fright{width:auto}
.ingredients li.fda{background:url(../images/m-logo.png) 0 5px no-repeat;padding:0 0 10px 40px!important}
#one .amino h3{padding:10px 0 5px;border-bottom:1px solid #BBB;font-weight:700;text-align:center}

#supplementfacts{margin-right:5%}

.certificates{box-shadow:0 0 25px rgba(0, 0, 0, 0.10);overflow:auto;margin:25px 5% 25px 0}
.certificates div{width:33%;text-align:center;padding:20px 0;float:left}
.certificates img{border:0}

.imgwrap{text-align:center;padding:25px 0}
.imgwrap img{box-shadow:0 0 25px rgba(0, 0, 0, 0.10);float:none!important}
.imgwrap2{border:1px solid #E5E5E5;text-align:center;display:inline-block;margin:10px 0;padding:0 20px}
.imgwrap2 img{margin:25px 10px}

.tabslider ul ul{width:auto;float:none}
.tabslider ul.list li{width:auto;padding:5px 0 5px 25px;background:url(../images/tick-green.png) 0 7px no-repeat}
.genkicont ul{float:left;padding-right:25px}
.socialshare p{float:left;overflow:hidden;width:100px;height:30px}

#productswrap .jp-video{visibility:hidden}
#dtx .jp-video{visibility:visible}
