
#scrollbar1{margin:68px 0 10px}
#scrollbar1 > .scrollbar{bottom: 25px}
#scrollbar1 .overview1{width: 400%}
#scrollbar1 section{width:25%}

#results h1{border-bottom:1px solid #712C16;margin-bottom:10px;padding-bottom:10px}
#results h2{font-size:20px;margin:35px 0 0;font-weight:600;color:#000}
#results h3{font-size:16px;margin:10px 0;line-height:normal}
#results p{line-height:24px;padding:5px 0}

.researchwrap{padding:0 4% 0 2%;overflow:auto}
#advboard,#seedtobottle,#quality,#clinical{margin:80px 4% 0;}
#trueresults{padding 0 200px}
#isthisforyou div{width:47%}
#whois h2{margin-bottom:0}
#isthisforyou h2{margin-bottom:0}
#excuses h2{margin-bottom:20px}
#isthisforyou p{padding:10px 0}
#isthisforyou .fleft img{float:left;margin:20px 30px 20px 0}
#advisor h2 span{color:#999}
#advisor h3{margin:5px 0 15px;color:#000}
#advisor p.highlighted{background:#F5F5F5;padding:15px;border:0;border-top:1px solid #FFF;border-bottom:1px solid #DDD}
#biography{padding:20px 0}
#biography h2{margin:30px 0 0;text-align:center}

#degree{border-bottom:1px solid #FFF;border-top:1px solid #E5E5E5;margin:20px 0 0 170px}
#degree li{border-top:1px solid #FFF;border-bottom:1px solid #E5E5E5;padding:10px 0 10px 25px;background:url(../images/tick.png) 0 12px no-repeat}

#seedtobottle img{margin-right:20px}
#healthcaresystems{max-width:990px;margin:0 auto}
.origin{border-bottom:1px solid #FFF;border-top:1px solid #DDD;margin:20px 0}
.origin li{border-top:1px solid #FFF;border-bottom:1px solid #DDD;padding:10px 0 10px 25px;background:url(../images/tick-golden.png) 0 12px no-repeat}
#healthcaresystems .origin{margin: 20px auto;width: 790px}
#processwrap{margin-top:20px}
#processwrap .process{font-size:16px;line-height:22px}
#processwrap .process{width:48%}
.process li{margin:5px 0;padding:0 15px}
.process li.alt{background:#E6E6E6;border-top:1px solid #DADADA;border-bottom:1px solid #FFF;margin:10px 0;padding:15px}

.qctest{font-weight:600}
.qctest span{border-bottom:1px solid #000;display:inline-block;font-weight:700}
.qctests{padding-top:25px}
.qctests h2{text-align:center;margin-top:10px}
.qctests .fleft{width:30%}
.qctests li{padding-left:25px;background:url(../images/tick-golden.png) 0 12px no-repeat}
.qctests a{word-break: break-word}
#mbtesting,#qa,#genkidoc{padding:0 5%}
#burndoc h2{margin-bottom:42px}
#processhead{padding-top:30px}

#qualityman img{width:100%}
.qctests h2{color:#000}
#qualityman{width:24%;margin:20px 1% 0 0;padding:20px 2% 0}
#qualityfeat{width:70%}

#clinical h3{text-align:center;margin-bottom::0}

#clinical img{background:#FFF}
#clinical h2,#clinical h3{color:#000}
#clinical h2{text-align:center;margin-top:0}
#clinical h4{font-weight:600;color:#000}
.highlighted{background:#F5F5F5;padding:5px 10px;border:1px solid #DDD}

#trueresultswrap{padding-top:6%;position:relative}
.resultswrap{padding:25px 0;box-shadow:0 0 15px rgba(0, 0, 0, 0.10)}
#results .resultswrap h2{font-size:30px;font-weight:300;margin:0;padding:0}
#results .resultswrap h3{line-height:16px;font-size:20px;font-weight:600;margin:0;padding:10px 0 0}
#results .resultswrap h3 span{font-weight:300}
.resultswrap h4{color:#E7C34A;margin:15px 0;padding:10px 0;font-weight:600;background:#38302F}
.cols,.resultswrap{width:21%;margin:0 1%;padding:30px 1%;float:left;position:relative;background:#FFF}
.resultswrap img{box-shadow:0 0 25px rgba(0, 0, 0, 0.20);border:1px solid #FFF}
.no{width:80px;height:80px;line-height:80px;background:#DDD;border-radius:100px;float:left;text-align:center;color:#FFF;font-size:60px;font-weight:600;position:absolute;left:10px;top:30px}

.arrows{display:inline-block;position:absolute;top:300px;width:50px;height:50px;border-radius:50px;z-index:3}
.arrowsleft{background:#FFF url(../images/slidearrow-left.png) center center no-repeat;left:-80px}
.arrowsright{background:#FFF url(../images/slidearrow-right.png) center center no-repeat;right:-80px}

/*.resultswrap{}
#results .resultswrap h2{font-weight:600;margin:10px 0}
#results .resultswrap h3{line-height:12px}
.resultswrap h4{color:#000;border:1px solid #CCC;border-width:1px 0;padding:10px 0;margin-left:250px}
.trcols,resultswrap{width:45%;padding-right:5%;float:left}
.resultswrap img{margin-right:20px}
.no{width:100px;height:100px;line-height:100px;border:5px solid #CCC;border-radius:100px;float:left;text-align:center;color:#CCC;font-size:60px;font-weight:600;margin:55px 20px 0 0}
*/

/*vertical tabs*/
	.ui-tabs-vertical { width: 55em; }
	.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
	.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
	.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
	.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
	.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
/*vertical tabs*/

#tabs{}
#lefttabs,#lefttabs2{position:fixed;font-size:20px;margin-top:20px;padding:0;border:none}
#lefttabs{width:300px}
#lefttabs2{width:250px;border-top:1px solid #712C16}
#lefttabs li,#lefttabs2 li{border:none;margin:0 10px 0 0;background:none;border-radius:0;position:relative}
#lefttabs li a,#lefttabs2 li a{display:block;float:none}
span.leftmenuarrow{position:absolute;background:url(../images/leftmenuarrow.png) right 0 no-repeat;width:10px;height:47px;right:-8px;top:-1px;display:none}

.ui-tabs{background:none;border:none;width:100%;float:left;padding:0}
.ui-tabs-vertical .ui-tabs-panel{width:100%;background:url(../images/bx_loader%20gif.html) center 300px no-repeat}
.ui-widget-header,.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{background:none}
.ui-state-active span{display:inline-block}
#lefttabs a,#lefttabs2 a{color:#712C16;background-position:110% center;border-bottom:1px solid #712C16}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{border-radius:0}
/*#lefttabs li.ui-tabs-active a,#lefttabs2 li.ui-tabs-active a{color:#FFF;background:#712C16 url(../images/arrow-right-white.png) 95% center no-repeat}*/
#lefttabs li.ui-tabs-active a,#lefttabs2 li.ui-tabs-active a{background:#38302F;color:#FFF;border:0}
.ui-widget-content a{word-wrap:break-word;color:#712C16}

.clinical{padding:0 5px;border-bottom:3px solid #999;overflow:auto}
.clinical .ing{clear:both;overflow:auto;margin:20px 0;padding:0 20px 20px;border-top:1px solid #CCC;position:relative}
.clinical .fleft,.clinical .fright{width:48%}
.ingcont{margin-left:120px}
.ing img{box-shadow:0 0 25px rgba(0, 0, 0, 0.20);border:1px solid #FFF;position:absolute;top:45px;left:20px}
.ingcontwrap{position:relative;margin-bottom:20px}
.ing .ingcontwrap img{top:0;left:0}

#inggenki .fleft,#inggenki .fright{position:relative}
#inggenki img{top:10px;left:0}

#ingburn{width:60%;margin:0 auto}
#ingburn .ingcontwrap{min-height:120px;paddingbottom:0}
#ingburn .ing{margin:0;padding:30px 20px 0}

#researchtabswrap{position:absolute;left:0;top:0;z-index:1;width:100%}
#researchtabs{margin:20px 20px 0 0}
#researchtabs li{float:left}
#researchtabs a{display:block;padding:10px 35px 10px 35px;text-align:center;border:0;background-image: url(../images/researchtabs-icons.png);background-repeat:no-repeat;color:#923c21}
#researchtabs a.on,#researchtabs a:hover{background-image:url(../images/researchtabs-icons-on.png);color:#000}
#researchtabs a#advisorytab{background-position:0 5px}
#researchtabs a#seedtab{background-position:0 -34px}
#researchtabs a#sciencetab{background-position:0 -150px}
#researchtabs a#qualitytab{background-position:0 -75px}
#researchtabs a#clinicaltab{background-position:0 -115px}

#trueresults iframe{background:transparent;width:75%;border:none;height:100%;margin:0 auto;display:block}