/* Tiny Scrollbar */
#scrollbar1 { /*margin: 71px 0 10px;*/ }
#scrollbar1 > .viewport { width: 100%; /*height: 800px;*/ overflow: hidden; position: relative; }
#scrollbar1 > .viewport .overview1{ list-style: none; /*width: 200%; padding-top: 50px;*/ margin: 0; position: absolute; left: 0; top: 0;
-webkit-transition:left 500ms ease;-moz-transition:left 500ms ease;-o-transition:left 500ms ease;-ms-transition:left 500ms ease;transition:left 500ms ease}
/*#scrollbar1 > .viewport .overview1 img{ float: left;height:auto!important }*/
#scrollbar1 > .scrollbar{ background:rgba(56,48,47,.1) ; position: absolute; margin: 0 0 5px; clear: both; height: 16px; /*bottom:164px;*/ z-index:3;padding:0 5px;opacity:0;
-webkit-transition:opacity 500ms ease;-moz-transition:opacity 500ms ease;-o-transition:opacity 500ms ease;-ms-transition:opacity 500ms ease;transition:opacity 500ms ease}
#scrollbar1 > .scrollbar > .track { width: 100%; height:15px; position: relative;border-radius:10px;padding-top:4px}
#scrollbar1 > .scrollbar > .track > .thumb { background:rgba(0,0,0,.6); height: 8px; cursor: pointer; overflow: hidden; position: absolute; left: 0; border-radius:10px;
-webkit-transition:left 500ms ease;-moz-transition:left 500ms ease;-o-transition:left 500ms ease;-ms-transition:left 500ms ease;transition:left 500ms ease}
#scrollbar1 > .scrollbar > .track > .thumb .end{ background: transparent url(images/bg-scrollbar-thumb-x.html) no-repeat 0 50%; overflow: hidden; height: 25px; width: 5px;}
#scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

#scrollbar1:hover .scrollbar{opacity:1;
-webkit-transition:opacity 500ms ease;-moz-transition:opacity 500ms ease;-o-transition:opacity 500ms ease;-ms-transition:opacity 500ms ease;transition:opacity 500ms ease}


#scrollbar2 { width: 520px; margin: 17% 0 10px; }
#scrollbar2 .viewport2 { width: 500px; height: 200px; overflow: hidden; position: relative; }
#scrollbar2 .overview2 { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar2 .scrollbar2{ background: #EEE; position: relative; background-position: 0 0; float: right; width: 15px; }
#scrollbar2 .track2 { background: #DDD; height: 100%; width:15px; position: relative; }
#scrollbar2 .thumb2 { background: #CCC; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#scrollbar2 .thumb2 .end2 { background: transparent url(../images/bg-scrollbar-thumb-y.html) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
#scrollbar2 .disable { display: none; }

/* Some lines are redudant. I just want to make sure its clear what is needed for a single instance.

/* Examples - Tiny Scrollbar */
.tabwrap { width: 520px; margin: 20px 0 10px; }
.tabwrap .viewport { width: 500px; height: 200px; overflow: hidden; position: relative; }
.tabwrap .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
.tabwrap .scrollbar{ background: #EEE; position: relative; background-position: 0 0; float: right; width: 15px; }
.tabwrap .track { background: #DDD; height: 100%; width:15px; position: relative; }
.tabwrap .thumb { background: #CCC; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
.tabwrap .thumb .end { background: transparent url(../images/bg-scrollbar-thumb-y.html) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
.tabwrap .disable { display: none; }
