<div class="row">
  <div class="columns medium-12">
    <h2>
      Customers List
    </h2>
  </div>
</div>
<div class="row">
  <div class="columns medium-12">
    <table>
      <thead>
      <tr>
        <th>
          Id
        </th>
        <th>
          Name
        </th>
        <th>
          Email
        </th>
        <th>
          Phone
        </th>
        <th>
          Enrollment Date
        </th>
        <th>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="customer in customers.data">
        <td>
          {{customer.distributorId}}
        </td>
        <td>
          <a ng-click="showOrder(customer)">
            {{customer.firstName}}&nbsp;{{customer.lastName}}
          </a>
        </td>
        <td>
          {{customer.email}}
        </td>
        <td>
          {{customer.phone}}
        </td>
        <td>
          {{customer.enrollmentDate | date: 'yyyy-MM-dd'}}
        </td>
        <td>
          <a tooltip="{{customer.address}}, {{customer.city}}, {{customer.state}}, {{customer.country}}, {{customer.zipCode}}"
             tooltip-placement="bottom">Address Information</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="columns medium-12">
    <vive-pagination data-start-page="first"
                     data-total="customers.data.pagination.count"
                     data-refresh="refreshPagination"
                     data-on-next-page="goToPage"
                     data-on-previous-page="goToPage"
                     data-on-go-to-page="goToPage"
                     data-number-per-page="25"
                     data-available-number-per-page="10,25,100"></vive-pagination>
  </div>
</div>