defaults: &defaults
  adapter: postgresql
  encoding: unicode
  host: 192.168.199.81
  port: 5432
  pool: 5
  username: og_admin
  password: 

development:
  <<: *defaults
  database: zoivi_dev8

test:
  <<: *defaults
  database: zoivi_test

staging:
  <<: *defaults
  database: zoivi_staging

production:
  <<: *defaults
  database: zoivi_production
