<div class="sign-up">
  <form class="" name="" novalidate>
    <div class='row'>
      <div class='medium-12 columns'>
        <h2>Connect with a Handler</h2>
      </div>
    </div>
    <div class="row">
      <p class="register-customer small-12 columns medium-font">
        Enter your informaton and a Consultant from your area will cotact you soon
      </p>
    </div>
    <div class='row'>
      <div class='small-4 columns'>
        <label class="required inline">First Name</label>
      </div>
      <div class='small-8 columns'>
        <input type="text" />
      </div>
    </div>
    <div class='row'>
      <div class='small-4 columns'>
        <label class="required inline">Last Name</label>
      </div>
      <div class='small-8 columns'>
        <input type="text" />
      </div>
    </div>
    <div class='row'>
      <div class='small-4 columns'>
        <label class="required inline">City</label>
      </div>
      <div class='small-8 columns'>
        <input type="text" />
      </div>
    </div>
    <div class='row'>
      <div class='small-4 columns'>
        <label class="required inline">State/Province</label>
      </div>
      <div class='small-8 columns'>
        <select>
          <option></option>
        </select>
      </div>
    </div>
    <div class='row'>
      <div class='small-4 columns'>
        <label class="required inline">Zip/Postal Code</label>
      </div>
      <div class='small-8 columns'>
        <input type="text" />
      </div>
    </div>
    <div class='row'>
      <div class='small-4 columns'>
        <label class="required inline">Email</label>
      </div>
      <div class='small-8 columns'>
        <input type="text" />
      </div>
    </div>
    <div class='row'>
      <div class='small-4 columns'>
        <label class="required inline">Phone</label>
      </div>
      <div class='small-8 columns'>
        <input type="text" />
      </div>
    </div>
    <div class='row'>
      <div class='small-4 columns'>
        <label class="">I'd like to: learn about the BeautiControl</label>
      </div>
      <div class='small-4 columns'>
        <input type="checkbox" /> Opportunity
        <br/>
        <input type="checkbox" /> Purchase Products
      </div>
      <div class='small-4 columns'>
        <input type="checkbox" /> Host a Spa
        <br/>
        <input type="checkbox" /> Request More Info
      </div>
    </div>
    <div class='row'>
      <div class='small-12 columns'>
        <hr/>
      </div>
    </div>
    <div class='row block-margin-bottom'>
      <div class='small-12 columns'>
        <label class="inline agreement">
          <input type="checkbox" class="left" />
          <span class="">I understand that when I click submit the information I entered will be emailed to an Independent Consulant selected by BeautiControl</span>
        </label>
      </div>
    </div>
    <div class="row">
      <div class='small-8 small-offset-4 columns'>
        <button type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
