<div class='products' ng-hide="isSucceed">
<div class='row'>
  <div class='small-12 columns'>
    <h2>REVIEW & PLACE ORDER</h2>
  </div>
</div>
<div class='row' ng-if="isFailed">
  <div class='small-12 columns'>
    <div data-alert class="alert-box error">
      {{failedMessage}}
    </div>
  </div>
</div>
<div class='row products-checkout'>
<!-- products-checkout-info start -->
<div class='medium-7 columns products-checkout-info'>
  <div ng-show="showShipping">
    <h3>SHIPPING INFO</h3>
    <h4>Shipping Method</h4>
    <div class='row'>
      <div class='small-8 end columns'>
        <label class='formRadioLabel' ng-repeat="shippingMethod in order.data.availableShippingMethods">
          <input type='radio'
                 ng-model="$parent.selectedShippingMethod"
                 ng-value="shippingMethod"
                 ng-change="changeShippingMethod($parent.selectedShippingMethod)"
                 name='paymentOption' />&nbsp;&nbsp;
          {{shippingMethod.name}}
        </label>
      </div>
    </div>
    <h4>SHIP TO</h4>
    <div class='row'>
      <div class='small-12 columns'>
        <ul class="vcard">
          <li class="locality">
            {{order.data.shippingAddress.firstName}}
            {{order.data.shippingAddress.m}}
            {{order.data.shippingAddress.lastName}}
          </li>
          <li class="locality">
            {{order.data.shippingAddress.street}},
            {{order.data.shippingAddress.city}},
            {{order.data.shippingAddress.state}},
            {{order.data.shippingAddress.country}},
            {{order.data.shippingAddress.zip}}
          </li>
          <li class="locality">Phone: {{order.data.shippingAddress.phone}}</li>
          <li class="locality">
            <a ng-show="order.data.shippingAddressChangeable"
               ng-click="editShippingAddress()"
               class="button tiny">
              <i class="fa fa-pencil-square-o"></i> Edit
            </a>
          </li>
        </ul>
      </div>
    </div>
    <span class='separator-line'></span>
  </div>

  <h3 ng-if="false">Gift Card</h3>
  <!--<h4 class='cPrimary'>Promotions & Rewards <span class='unimportant-text'>e-Gift Card</span></h4>-->
  <div ng-if="giftcard.error">
    <span class="error">{{ giftcard.error }}</span>
  </div>
  <div class='row product-checkout-coupon' ng-if="false">
    <div class="row">
      <div class='small-3 columns'>
        <label for="gift-card-code">Gift Card Code:</label>
      </div>
      <div class='small-7 columns end' ng-if="!giftcard.active">
        <input id="gift-card-code" type='text' ng-model="giftcard.code" />
      </div>
      <div class='small-9 columns end' ng-if="giftcard.active">
        <label>{{ giftcard.code }}</label>
      </div>
    </div>

    <div class="row">
      <div class='small-3 columns'>
        <label for="gift-card-pin">Gift Card Pin:</label>
      </div>
      <div class='small-7 columns' ng-if="!giftcard.active">
        <input id="gift-card-pin" type='text' class="no-margin-bottom" ng-model="giftcard.pin"/>
      </div>
      <div class='small-9 columns' ng-if="giftcard.active">
        <label>{{ giftcard.pin }}</label>
      </div>
      <div class='medium-2 columns end' ng-if="!giftcard.active">
        <button class='small' ng-click="applyGiftCard()">Apply</button>
      </div>
    </div>

    <div class="row" ng-if="giftcard.active">
      <div class='small-3 columns'>
        <label>Amount:</label>
      </div>

      <div class='small-9 columns end' >
        <label>{{ giftcard.amount | price }}</label>
      </div>
    </div>

    <div class="row" ng-if="giftcard.active">
      <div class='small-3 columns'>
        <label>Balance:</label>
      </div>

      <div class='small-6 columns end'>
        <label>{{ giftcard.balance | price }}
          <span ng-if="giftcard.used">- {{ giftcard.used | price }}</span>
        </label>
      </div>

      <div class='medium-2 columns end' ng-if="giftcard.active">
        <button class='small' ng-click="deleteGiftCard()">Remove</button>
      </div>
    </div>

  </div>
  <!--<h3><label class='right'><input type='checkbox' /> ON</label>GIFT OPTION</h3>-->
  <!--<div class='row products-checkout-giftOpt'>-->
  <!--<div class='small-12 columns'>-->
  <!--<textarea placeholder='Add a gift message. Max250 characters'></textarea>-->
  <!--<p class='text-right'>249/250</p>-->
  <!--</div>-->
  <!--</div>-->

  <span class='separator-line'></span>

  <h3>PAYMENT INFO</h3>
  <h4 ng-if="totalPrice() != 0 && order.data.availablePaymentMethods.length > 1">
    Payment Method
  </h4>
  <div class="row" ng-if="totalPrice() != 0 && order.data.availablePaymentMethods.length > 1">
    <div class='medium-8 end columns'>
      <label class='formRadioLabel' ng-repeat="paymentMethod in order.data.availablePaymentMethods">
        <input type='radio'
               ng-model="$parent.selectedPaymentMethod"
               ng-value="paymentMethod"
               />&nbsp;&nbsp;
        {{paymentMethod.name}}
      </label>
    </div>
  </div>
  <form name="creditCardForm" ng-show="totalPrice() != 0">
    <div class='row' ng-show="selectedPaymentMethod.isCreditcard">
      <div class='medium-4 columns'>
        <label class="required" for="card-number">Credit Card Number</label>
      </div>
      <div class='medium-4 columns'>
        <input type='text'
               ng-required="selectedPaymentMethod.isCreditcard"
               id="card-number"
               name="cardNumber"
               ng-model="creditcard.number" />
        <small class="error" ng-show="submitted && creditCardForm.cardNumber.$error.required">
          This information is required.
        </small>
      </div>
      <div class='medium-4 columns'><img src="images/creditCard.jpg" alt='' /></div>
    </div>

    <div class='row' data-credit-card-expiration ng-show="selectedPaymentMethod.isCreditcard">
      <div class='medium-4 columns'>
        <label class="required" for="expiration-month">Expiration Date</label>
      </div>
      <div class='small-4 columns text-left'>
        <select id="expiration-month"
                name="expirationMonth"
                class="medium"
                ng-required="selectedPaymentMethod.isCreditcard"
                ng-model="creditcard.expirationMonth"
                ng-options="month for month in expirationMonths">
          <option value="">Month</option>
        </select>
        <small class="error" ng-show="submitted && creditCardForm.expirationMonth.$error.required">
          This information is required.
        </small>
      </div>
      <div class='small-4 columns text-left'>
        <label class='hide'></label>
        <select id="expiration-year"
                name="expirationYear"
                class="medium"
                ng-required="selectedPaymentMethod.isCreditcard"
                ng-model="creditcard.expirationYear"
                ng-options="year for year in expirationYears">
          <option value="">Year</option>
        </select>
        <small class="error" ng-show="submitted && creditCardForm.expirationYear.$error.required">
          This information is required.
        </small>
      </div>
    </div>

    <div class='row' ng-show="selectedPaymentMethod.isCreditcard">
      <div class='medium-4 columns'>
        <label class="required" for="cvv">Card Code</label>
      </div>
      <div class='medium-4 end columns'>
        <input type='text'
               id="cvv"
               name="cvv"
               required
               ng-model="creditcard.cvv"/>
        <small class="error signUpInputW" ng-show="submitted && creditCardForm.cvv.$error.required">
          This information is required.
        </small>
      </div>
    </div>
  </form>
  <span class='separator-line'></span>

  <h3>BILL TO</h3>
  <div class='row'>
    <div class='small-12 columns'>
      <ul class="vcard">
        <li class="locality">
          {{order.data.billingAddress.firstName}}
          {{order.data.billingAddress.m}}
          {{order.data.billingAddress.lastName}}
        </li>
        <li class="locality">
          {{order.data.billingAddress.street}},
          {{order.data.billingAddress.city}},
          {{order.data.billingAddress.state}},
          {{order.data.billingAddress.country}},
          {{order.data.billingAddress.zip}}
        </li>
        <li class="locality">Phone: {{order.data.billingAddress.phone}}</li>
        <li class="locality">
          <a ng-click="editBillingAddress()"
             class="button tiny">
            <i class="fa fa-pencil-square-o"></i> Edit
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- products-checkout-info end -->
<!-- products-checkout-cart start -->
<div class='medium-5 columns products-checkout-cart'>
  <h3>CART</h3>
  <table width='100%' class='products-checkout-table'>
    <tbody>
    <tr ng-repeat="lineItem in order.data.lineItems">
      <td class='prodcuts-checkout-table-img'>
        <img ng-src="{{lineItem.imageUrl | imageSize: 'small'}}" alt='Product name' />
      </td>
      <td>
        <div class='products-checkout-table-item'>
          <div class='product-info'>
            <h6 class='product-name'>
              <a ng-href="#/product/{{lineItem.productId}}">
                {{lineItem.productName}}
              </a>
            </h6>
            <p class='product-id'>{{lineItem.sku}}</p>
            <!--<p class='product-size'><span>SIZE: S</span><span>COLOR: BLACK</span></p>-->
            <p class='product-option'>Quantity: {{lineItem.quantity}}</p>
            <p class='product-option'>
              {{lineItem.quantity * lineItem.price | price}}
            </p>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th colspan="2">
        <div class='row'>
          <div class='small-12 columns text-right check-out-foot'>
            <p>Updated Subtotal: {{order.data.itemTotal | price}} </p>
            <p ng-repeat="adjustment in order.data.adjustments">
              {{adjustment.label}}: {{adjustment.amount | price}}
            </p>
            <p ng-if="giftcard.balance">Gift Card: -{{ giftcard.used | price }} </p>
            <strong class='price-total'>Total Price: {{totalPrice() | price}} </strong>
            <!--<small><i>You save $0.00 and eam 0.00 PCV on this order.</i></small>-->
          </div>
        </div>
      </th>
    </tr>
    </tfoot>
  </table>
  <div class='row'>
    <div class='small-12 columns'>
      <button ng-click="placeOrder()" ng-disabled="placingOrder" class='full-width'>PLACE ORDER</button>
    </div>
  </div>
</div>
<!-- products-checkout-cart end -->
</div>
</div>
<div ng-include="'views/checkout/success.html'" ng-if="isSucceed"></div>