<h2>Order #111111 Details</h2>
<div class="popup-con">
  <div class="row">
    <div clas="small-12 columns">
      <div class='order-details-con'>
        <h3>Order #201944010 Details</h3>
        <table class='order-details-table' cellspacing='0'>
          <thead>
          <tr>
            <th><strong class='primary-color'>Order ID: 201944010</strong></th>
            <th>Status: <span class='primary-color'>Shipped</span><a href='#' class='button tiny right'>PRINT</a></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              Date: <span class='unimportant-text'>08/12/2013 16:13:56</span>
              <br/>
              Customer: <span class='unimportant-text'>JacksonKu</span>
              <br/>
              Type: <span class='unimportant-text'>Renewal Fees</span>
            </td>
            <td>
              Shipping Method: <span class='unimportant-text'>Mexico Shipping</span>
              <br/>
              Payment Date: <span class='unimportant-text'>08/12/2013 16:13:56</span>
              <br/>
              Payment Method: <span class='unimportant-text'>Credit Card (US)</span>
            </td>
          </tr>
          <tr>
            <td>
              Ship To: <span class='unimportant-text'><strong>Jackson Kho</strong><br/>222 Loma Vista Ln, Santa Clara, California, 95051</span>
              <br/>
              Phone: <span class='unimportant-text'>621-32-0500</span>
            </td>
            <td>
              Bill To: <span class='unimportant-text'><strong>Jackson Kho</strong><br/>222 Loma Vista Ln, Santa Clara, California, 95051</span>
              <br/>
              Phone: <span class='unimportant-text'>621-32-0500</span>
            </td>
          </tr>
          </tbody>
        </table>
        <table width='100%'>
          <thead>
          <tr>
            <th>Item</th>
            <th width='60'>Quantity</th>
            <th width="100" class='text-center'>Retail Price</th>
            <th width="60" class='text-center'>PCV</th>
            <th width="100" class='text-center'>Your Price</th>
            <th width="100" class='text-center'>Total Price</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div class='products-cart-item'>
                <img src="/images/party/party-user-1.jpg" alt='Pack name' class='pack-img' />
                <div class='product-info'>
                  <h6 class='product-name'>
                    <a href>Product Name</a>
                  </h6>
                  <p class='product-id'>
                    100004856-BLK-SC-XX
                  </p>
                  <p class='product-size'><span>SIZE: S</span><span>COLOR: BLACK</span></p>
                </div>
              </div>
            </td>
            <td class='text-center'>
              1
            </td>
            <td class='primary-color text-center'>
              $22.00
            </td>
            <td class='text-center'>
              0.00
            </td>
            <td class='primary-color text-center'>
              $22.00
            </td>
            <td class='primary-color primary-color text-center'>
              $22.00
            </td>
          </tr>
          <tr>
            <td>
              <div class='products-cart-item'>
                <img src="/images/party/party-user-1.jpg" alt='Pack name' class='pack-img' />
                <div class='product-info'>
                  <h6 class='product-name'>
                    <a href>Product Name</a>
                  </h6>
                  <p class='product-id'>
                    100004856-BLK-SC-XX
                  </p>
                  <p class='product-size'><span>SIZE: S</span><span>COLOR: BLACK</span></p>
                </div>
              </div>
            </td>
            <td class='text-center'>
              1
            </td>
            <td class='primary-color text-center'>
              $22.00
            </td>
            <td class='text-center'>
              0.00
            </td>
            <td class='primary-color text-center'>
              $22.00
            </td>
            <td class='primary-color primary-color text-center'>
              $22.00
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <th colspan="6">
              <div class='row'>
                <div class='small-12 columns text-right check-out-foot'>
                  <p>Subtotal before Discounts: $300.00 </p>
                  <p>Balance: $22.00 </p>
                  <p>Shipping and Handling: $10.00 </p>
                  <p>Tax: $1.68 </p>
                  <strong class='price-total'>SubTotal: xxxxx </strong>
                </div>
              </div>
            </th>
          </tr>
          </tfoot>
        </table>
      </div>
      <div class="text-center"><a href class="button small">Close</a></div>
    </div>
  </div>
</div>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
