<form name="paymentForm" novalidate>
  <div class="row">
    <div class="columns medium-12">
      <table>
        <thead>
        <tr>
          <th>
            Item
          </th>
          <th>
            SKU
          </th>
          <th>
            Price
          </th>
          <th>
            Autoship Quantity
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in order.autoshipItems">
          <td>
            <img ng-src="{{item.imageUrl | imageSize: 'small' }}"/>
            {{item.productName}}
          </td>
          <td>
            {{item.sku}}
          </td>
          <td>
            {{item.price | price}}
          </td>
          <td>
            {{item.quantity}}
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td class="text-right" colspan="4">
            <p>Updated Subtotal: {{order.itemTotal | price}} </p>
            <p ng-repeat="adjustment in order.adjustments">
              {{adjustment.label}}: {{adjustment.amount | price}}
            </p>
            <strong>Total Price: {{order.total | price}} </strong>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div data-creditcard-panel
       data-creditcard="creditcard"></div>

  <div class="row">
    <div class="columns medium-2">
      <button>Checkout</button>
    </div>
    <div class="columns medium-2 end">
      <button>Cancel</button>
    </div>
  </div>
</form>