.upgrade-alert {
  margin-top: 14px;
  margin-bottom: 0;
}

.main-header {
  max-width: 100%;
  background: #fff;
  padding:10px 0;
  .header-links {
    color: $grey;
    font-size: $small-font-size;
    margin-bottom: 10px;
    margin-top: 10px;
    @include clearfix;

    li {
      float: left;

      a {
        color: $base-font-color;

        &:hover {
          color: $primary-color;
        }
      }
    }

    .header-links-bowl {
      &.icons-food-bowl{
        width:auto;
      }
      a {
        color: $primary-color;
      }
    }
  }

  .header-search {
    margin: 0;
    width: 350px;
    > .columns:first-child {
      padding-right: rem-calc(5);
    }
  }

  .header-logo{
    position: relative;
    .logo{
      width:230px;
    }
    .distributor-info{
      position:absolute;
      z-index: 2;
      top:25px;
      left: 250px;
      width:100%;
      border-left:1px solid $grey-border;
      padding-left:20px;
      height:36px;
      .distributor-info-photo{
        float: left;
        margin-right:15px;
        img{
          vertical-align: middle;
          height:47px;
        }
      }
      .distributor-info-text{
        display:inline-block;
        vertical-align: middle;
        .distributor-info-name{
          color: #F55C9F;
          font-size: $base-font-size;
          text-transform:uppercase;
          font-weight:bold;
          margin-bottom:0;
          line-height: 1;
          margin-top:2px;
        }
        .distributor-info-detail{
          font-size:$small-font-size;
          color:$grey;
          margin-bottom:0;
          line-height: 12px;
          margin-top: 5px;
        }
      }
    }
  }

}
