.products {

  .products-sidebar{
    dl{
      dt{
        color:$primary-color;
        font-size:$medium-font-size;
        padding:rem-calc(5) 0 rem-calc(3) 0;
        margin-bottom: rem-calc(10);
      }
      dd{
        margin-bottom: rem-calc(8);
        font-size: $small-font-size;
        a{

        }
      }
    }
  }



  .products-cart-item{
    .pack-img{
      float:left;
    }
    .product-info{
      margin-left:60px;
      .product-name{
        font-size: rem-calc(14);
        margin-bottom: 6px;
      }
      .item-title {
        color: $grey-darker;
      }
      .product-id{
        color:$grey-dark;
        margin-bottom: 6px;
        font-size: $small-font-size;
        line-height: 1;
      }
      .personalized-values {
        margin-top: 20px;
        color: $grey-dark;
        font-size: $small-font-size;
      }
      .product-size{
        margin-bottom: 6px;
        font-size: $small-font-size;
        line-height: 1;
      }
    }
  }

  .product-cart-bar{
    border-top:1px solid $grey-border;
    border-bottom:1px solid $grey-border;
    padding:rem-calc(10) 0;
    font-size: rem-calc(14);
    font-style: italic;
  }

  .products-cart{

    .product-cart-chekout-left{
      font-size: rem-calc(14);
      color:$grey;
      height: rem-calc(30);
      line-height: rem-calc(30);
      a{
        color:$grey;
      }
    }
  }

  .products-detail-detailList{
    label{
      color:$grey-dark;
    }
  }

  .products-detail-info{
    margin-bottom: rem-calc(20);
    h3{
      font-size: $xlarge-font-size;
      color:$primary-color;
      small{
        color:$grey-darker;
      }
    }
    h6{
      font-size: $small-font-size;
      color:$grey-dark;
      margin-bottom: rem-calc(5);
    }

    .options {
      @include clearfix;

      li {
        float: left;
        border: 2px solid $grey-border;
        line-height: 26px;
        height: 30px;
        min-width: 30px;
        text-align: center;
        margin-right: 10px;
        cursor: pointer;

        &.current {
          border-color: $primary-color;
          background: $primary-color;
          color: white;
        }
      }
    }

    .product-panel{
      .product-quantity{
        width:60px;
      }
    }

    .products-detail-price{
      display: block;
      font-size: rem-calc(22);
      margin: rem-calc(25) 0;
      color: $primary-color;
    }

    .products-detail-designList{
      margin-bottom: rem-calc(15);
      ul{
        li{
          float:left;
          margin-right: rem-calc(10);
          a{
            display:block;
            width:rem-calc(104);
            height:rem-calc(66);
            border:2px solid $grey-border;
            &:hover{
              border:2px solid $primary-color;
              text-decoration: none;
            }
            &.current{
              border:2px solid $primary-color;
            }
          }

        }
      }
    }
    .products-detail-ctrBt{
      margin-bottom: rem-calc(15);
    }
    .products-detail-tabs{
      margin-top: $panel-margin-bottom;

      dd{

        & > a{
          border-bottom:1px solid $grey-border;
          background:#fff;
          &:hover{
            text-decoration: none;
            background:#fff;
          }
          .fa{
            margin-top:5px;
          }
        }
        .content{
          font-size:$small-font-size;
          border-bottom:1px solid $grey-border;
          padding-left:0;
          padding-right:0;
        }
      }

    }
    .products-detail-share{
      margin-top: rem-calc(20);
      color:$grey;
      span{
        font-size: rem-calc(14);

      }
      a{
        font-size: rem-calc(30);
        margin-left:rem-calc(10);
        vertical-align: middle;
      }
    }
  }

  .products-checkout{
    h3{
      font-size: rem-calc(14);
      margin-bottom: rem-calc(15);
    }
    h4{
      font-size: rem-calc(14);
      color:$grey-dark;
      margin-bottom: rem-calc(10);
    }
    .products-checkout-info{
      .vcard{
        border:0;
        padding:0;
      }
      .product-checkout-coupon{
        border:1px solid $grey-border;
        background:$grey-lighter;
        margin-bottom: rem-calc(20);
        margin-right:0;
        margin-left:0;
        padding:rem-calc(10);
        label{
          font-size: $small-font-size;
          height: rem-calc(36);
          line-height:rem-calc(36);
        }
        .button{
          padding:10px 20px;
        }
      }
      .products-checkout-giftOpt{
        textarea{
          height: 110px;
        }
        p{
          color:$grey;
          margin: 0;
          padding:0;
          font-size: $small-font-size;
          height: rem-calc(20);
          line-height: rem-calc(20);
        }
      }
    }
  }


}

.products-list{
  li{
    .product-img{
      position:relative;
      border:1px solid $grey-border;
      //        display:table-cell;  this attr will unable the position attr
      height:220px;
      img{
        display:inline-block;
        max-height: 216px;
        width:96%;
        vertical-align: middle;
      }
      span{
        display:inline-block;
        width:1px;
        height:100%;
        vertical-align: middle;
      }
      .button{
        position:absolute;
        top:40%;
        left:10%;
        right:10%;
        z-index: 2;
        display:none;
      }
    }
    &:hover{
      .product-img{
        .button{
          display:inline-block;
        }
      }
    }
  }
  .product-name{
    color:$grey-darker;
    font-size: $small-font-size;
    margin: rem-calc(10) 0 rem-calc(10) 0;
    height:36px;
    overflow: hidden;
    a{
      color:$grey-darker;
    }
  }
  .product-price{
    color:$primary-color;
    font-size: rem-calc(14);
    margin:0 0 rem-calc(5) 0;
  }
}

.products-checkout-table{
  tr{
    &:first-child{
      td{
        padding-top:0;
      }
    }
    td{
      vertical-align: top;
    }
  }

  .prodcuts-checkout-table-img{
    width:rem-calc(80);
    text-align: left;
    padding-left:0;
    img{
      border:1px solid $grey-border;
    }
  }
  .products-checkout-table-item{
    .product-info{
      .product-name{
        font-size: rem-calc(14);
        margin-bottom: 6px;
        margin-top:-2px;
      }
      .product-id{
        color:$grey-dark;
        margin-bottom: 6px;
        font-size: $small-font-size;
        line-height: 1;
      }
      .product-size{
        margin-bottom: 6px;
        font-size: $small-font-size;
        line-height: 1;
        color: $grey;
      }
      .product-option{
        color:$grey-darker;
        margin-bottom: 6px;
        font-size: $small-font-size;
        line-height: 1;
      }
    }
  }

  .detail-image {
    margin-bottom: 20px;
  }
}

.handler-locate-table{
  .handler-locate-table-radio{
    width:50px;
    vertical-align: middle;
    text-align: center;
  }
  .prodcuts-checkout-table-img{
    width:rem-calc(160);
    text-align: left;
    padding-left:0;
    img{
      border:0;
    }
  }
}









































