<h2>Preview Gift Certificate</h2>
<div class="popup-con">
  <div class="gift-preview-popup">
    <div class="row gift-to-from">
      <div class="small-4 columns">
        <span>To:</span> <span class="grey-darker-color">{{giftCardInfo['name-to'] ? giftCardInfo['name-to'] : '--'}}</span>
      </div>
      <div class="small-4 columns">
        <span>From:</span> <span class="grey-darker-color">{{giftCardInfo['name-from'] ? giftCardInfo['name-from'] : '--'}}</span>
      </div>
      <div class="small-4 columns">
        <button ng-click="cancel();purchase()" class='tiny right'>PURCHASE NOW</button>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <p>{{giftCardInfo['email-message'] ? giftCardInfo['email-message'] : 'This is where the message goes...'}}</p>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <div class='gift-preview-imgWrap'>
          <h3 class="gift-preview-title">Gift Certificate <small class="right">Code:XXX-XXX-XXX-XXX</small></h3>
          <div class="gift-preview-text">For Tails Only</div>
          <div class='gift-preview-cert'><strong>$234.00</strong></div>
          <div class='gift-preview-to-from'>
            <span>To: <strong>3452</strong></span>
            <span class="right">From: <strong>Wert</strong></span>
          </div>
          <img ng-src="/images/gift/gift-card-popup.jpg" alt='Gift Card'/>
          <div class="gift-preview-footer">Redeem your gift certificate at <a href="http://www.fortailsonly.com/">http://www.fortailsonly.com/</a> </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <div class="gift-preview-foot">
          <h2>TO USE YOUR E-GIFT CARD ONLINE</h2>
          <ul>
            <li>1. Go to fortailsonly.com</li>
            <li>2. Click 'Design your own' or 'kids come with me', and create your garment</li>
            <li>3. At the checkout, enter your E-Gift card number and pin number.</li>
            <li><strong>NOTE - kids gift vouchers have been designed for the Miioon kids co-creation pages and can not be
              used to pay for items in the made by mii shop.</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
