<div class='party-container'>
  <div class='row'>
    <div class='small-12 columns party-email-banner'>
      <img src='/images/party/party-email-banner-1.jpg' alt='Your RSVP' class="party-email-banner-img" />
      <div class='party-email-banner-text'>
        <h2>
          {{event.data.title}}
          <small>{{event.data.startTime | date: 'medium'}}</small>
        </h2>
        <p>
          {{event.data.locationName}}
          <br/>
          {{event.data.address.zip}},
          {{event.data.address.street}},
          {{event.data.address.city}},
          {{event.data.address.stateName}},
          {{event.data.address.countryName}}
        </p>
        <div class='party-email-banner-anwser' ng-if="response() !== 'noreply'">
          Your replay is {{response().toUpperCase()}}.
          <a class="small-font" ng-click="enableChangingReply()">Change Reply.</a><br/>
          <p class='party-email-banner-button' ng-if="isChangingReply">
            <a class='button small' ng-click="confirm('YES');">YES</a>
            <a class='button small' ng-click="confirm('MAYBE')">MAYBE</a>
            <a class='button small' ng-click="confirm('NO')">NO</a>
          </p>
        </div>
        <div class='party-email-banner-anwser' ng-if="response() === 'noreply'">
          Will you attend?<br/>
          <p class='party-email-banner-button'>
            <a class='button small' ng-click="confirm('YES');">YES</a>
            <a class='button small' ng-click="confirm('MAYBE')">MAYBE</a>
            <a class='button small' ng-click="confirm('NO')">NO</a>
          </p>
        </div>
      </div>
      <a href='#/products/cats' class="party-email-banner-go">Go to Shopping</a>
    </div>
  </div>
  <div class='row'>
    <div class='columns medium-12'>
      <h3 class="primary-color">Who's Coming?</h3>
    </div>
  </div>
  <div class='row'>
    <div class='columns medium-6'>
      <div class='party-panel' ng-repeat="responseType in responseTypes">
        <h4>
          {{responseType.name}}: {{event.data[responseType.countName]}}
          <i class="fa fa-chevron-down right"></i>
        </h4>
        <div class='party-panel-con-bar' ng-if="event.data[responseType.countName] === 0">
          <span><i class="fa fa-caret-right primary-color"></i> No Replies Yet</span>
        </div>
        <table width='100%' class='party-user-table'>
          <tbody>
          <tr ng-repeat="invitee in event.invitees | responseIs: responseType.type ">
            <td>
              <div class='party-user-table-info'>
                <h5>
                  {{invitee.firstName}}
                  {{invitee.middleName}}
                  {{invitee.lastName}}
                  <br/>
                  <small>{{invitee.email}}</small>
                </h5>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class='columns medium-6'>
      <div class='party-panel'>
        <h4>RSVP History</h4>
        <table width='100%' class='party-user-table'>
          <tbody>
          <tr ng-repeat="invitee in event.invitees">
            <td>
              <div class='party-user-table-info'>
                <h5>
                  {{invitee.firstName}}
                  {{invitee.middleName}}
                  {{invitee.lastName}}
                  <small class="right">{{invitee.updatedAt | readableTimestampFrom: 'now' }}</small>
                  <br/>
                  <small ng-if="invitee.changed">
                    Change Reply to "{{invitee.response}}"
                  </small>
                  <small ng-if="!invitee.changed">
                    Replied "{{invitee.response}}"
                  </small>
                  <small ng-if="invitee.comment">
                    and comment "{{invitee.comment}}"
                  </small>
                </h5>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <!--<ul class="pagination right">-->
          <!--<li class="arrow unavailable"><a href=""><i class="fa fa-caret-left"></i></a></li>-->
          <!--<li class="current"><a href="">1</a></li>-->
          <!--<li><a href="">2</a></li>-->
          <!--<li><a href="">3</a></li>-->
          <!--<li class="arrow"><a href=""><i class="fa fa-caret-right"></i></a></li>-->
        <!--</ul>-->
      </div>
    </div>
  </div>

</div>
