$rank-1-color: #9AB6B1;
$rank-1-border: #D2E9E5;

$rank-2-color: #E7B248;
$rank-2-border: #FFE7BA;

$rank-3-color: #66B284;
$rank-3-border: #BCDAC8;

$rank-4-color: #5E9FBD;
$rank-4-border: #A9D6EC;

$rank-5-color: #D85E90;
$rank-5-border: #F397BD;

.genealogy-panel {
  background: #F6F8F8;
  border-bottom: 1px solid #EBEDED;

  .distributor {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;

    &:before {
      content: "";
      display: block;
      margin: 0 auto;
      height: 60px;
      width: 60px;
      border: 4px solid #A9D6EC;
      background: #5E9FBD image-url("icons/dog-hand.png") no-repeat 7px;
      border-radius: 30px;
    }

    &.rank-1:before {
      background: $rank-1-color;
      border-color: $rank-1-border;
    }

    &.rank-2:before {
      background: $rank-2-color;
      border-color: $rank-2-border;
    }

    &.rank-3:before {
      background: $rank-3-color;
      border-color: $rank-3-border;
    }

    &.rank-4:before {
      background: $rank-4-color;
      border-color: $rank-4-border;
    }

    &.rank-5:before {
      background: $rank-5-color;
      border-color: $rank-5-border;
    }

    .name {
      padding-top: 5px;
      padding-bottom: 5px;
      font-weight: bold;
    }
  }
}

.genealogy-tips {
  background: #F8F9F9;
  border-top: #FAFBFB 1px solid;
  border-bottom: #AAB2B1 4px solid;
  text-align: center;
  padding-top: 18px;

  li {
    font-size: $small-font-size;

    &:before {
      content: "";
      display: block;
      height: 18px;
      width: 18px;
      border: 2px solid;
      border-radius: 9px;
      margin: 0 auto 10px;
    }

    &.rank-1:before {
      background: $rank-1-color;
      border-color: $rank-1-border;
    }

    &.rank-2:before {
      background: $rank-2-color;
      border-color: $rank-2-border;
    }

    &.rank-3:before {
      background: $rank-3-color;
      border-color: $rank-3-border;
    }

    &.rank-4:before {
      background: $rank-4-color;
      border-color: $rank-4-border;
    }

    &.rank-5:before {
      background: $rank-5-color;
      border-color: $rank-5-border;
    }
  }
}

.genealogy-path {
  @include clearfix;
  margin-bottom: 20px;

  li {
    float: left;

    &:first-child:before {
      display: none;
      content: "";
    }

    &:before {
      content: "\003E";
      padding-left: 8px;
      padding-right: 2px;
    }

    &:last-child {
      color: $primary-color;
    }

    a {
      color: $grey-darker;
    }
  }
}

.genealogy-pagination {
  text-align: center;

  .pagination {
    display: inline-block;
    margin-top: 30px;
  }
}