.main-footer {
  padding-top: 40px;

  .news-subscribe{
    border-top: 1px solid $grey-border;
    border-bottom: 1px solid $grey-border;
    margin-bottom:rem-calc(20);
    
    height: 60px;
    h2{
      color:$primary-color;
      font-weight: normal;
      font-size: rem-calc(20);
      margin-top: rem-calc(16);
      i.fa{
        font-size: rem-calc(25);
      }
    }
    .footer-subscribe{
      margin-top: rem-calc(16);
      width:500px;
      input,.button{
        height:rem-calc(30);
        background:$grey-light;
        color:#fff;
        box-shadow: none;
        border:0;
      }
      .button.postfix{
        line-height: rem-calc(30);
      }
      .columns{
        padding:0 5px 0 0;
      }
    }
    
  }

  h4 {
    margin-bottom: 10px;
    color: $primary-color;
  }

  .categories {
    li {
      margin-bottom: 5px;
      line-height: normal;
      a {
        font-size: $tiny-font-size;
      }
    }
    li.authorize{
      text-align: center;
      width:90px;
      margin-top:10px;
      a{
        line-height: rem-calc(12);
        color:$grey-darker;
      }
    }
  }

  .social-links {
    padding-top: 0;
    padding-bottom: 45px;
    margin-top:-10px;
    li {
      float: left;
      margin-left: 15px;
      a{
        font-size: rem-calc(30);
        &:hover{
          color:$grey-light;
        }
      }
    }
  }

  .extra-info {
    position: relative;
    width:auto;
    padding-top: 12px;
    padding-bottom: 35px;
    color:$grey-light;
    font-size: $tiny-font-size;
    margin-right:$column-gutter/2;
    margin-left:$column-gutter/2;
    .columns{
      padding-left:0;
      padding-right:0;
    }
  }
}