.sign-in {
  padding-top: 0px;
  padding-bottom: 50px;

  .sign-in-inner{
    margin:0 50px;
  }

  .forgot-password {
    float: right;
    margin-top: 3px;
    font-size:$small-font-size;
    color:$grey-darker;
  }

  h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size:$large-font-size;
    small{}
  }

  input[type="text"], input[type="password"]{
    margin-bottom:10px;
  }

  .separator {
    height: 274px;
    border-right: 1px solid $grey-border;
  }

  .sign-in-button {
    display: block;
    margin-top: 15px;
  }

  .benefits {
    list-style: disc;
    color: $grey-darker;
    margin: 15px 15px 25px;
  }
}